[2018-04-28 22:53] #530 closed, assigned to nobody

[2018-04-30 17:27] ericpan2018 opened #531 "Help: Errors about running Cantera 2.3.0b1 with Fortran code"
### Cantera version
Cantera/.experimental-2.3.0b1
### Operating System
Linux
### Python/MATLAB version
Python/2.7.14-anaconda5.1.0
### Expected Behavior

**print out results like:**

### Actual Behavior

**1) --- 1st error:**

**2) --- 2nd error:  about "advance" function:  (similar error when using "step()" function)**

### Steps to reproduce

1.Since I ran simulation in University Computer Cente

[2018-04-30 17:57] bryanwweber commented on #531
@ericpan2018 Is this the same issue you posted about on the User Group: https://groups.google.com/forum/#!topic/cantera-users/9OKA1CmLV2s ?

[2018-04-30 18:08] ericpan2018 commented on #531
@bryanwweber Yes, it is the same issue.  Since there is no one reply in Google Group, I just post it here with more details to expect someone can help.

My code works well under old system with Cantera-2.2.1 + intel-15.0.2 + python-2.7.8+ sundials-2.6.2+gcc-5.2.0, but now it has errors under new system with Cantera/.experimental-2.3.0b1 + gcc/7.3.0+ sundials/2.7.0+python/2.7.14-anaconda5.1.0+mkl/2

[2018-04-30 18:18] ericpan2018 commented on #531
@bryanwweber Another question about installation of Cantera-2.2.1, When the technician installed Cantera-2.2.1, it fails due to some changes of Cython.  Is there anyway to solve this problem? Or does anyone meet this issue? Thanks a lot.

[2018-04-30 18:23] bryanwweber commented on #531
@ericpan2018 You posted that question less than 48 hours ago, and we are an all-volunteer community (with many of our volunteers entering final exam season here in the US); probably no one has had time yet to look into the issue and respond. Could you please add the extra details from this post to the User's Group post and we'll focus the discussion there do avoid duplicating conversation (and can

[2018-04-30 18:23] #531 closed, assigned to nobody

[2018-04-30 18:25] bryanwweber commented on #531
@ericpan2018 This is a known and solved issue: https://github.com/Cantera/cantera/issues/465 You should be using at least the full version of 2.3.0 (not 2.3.0b1) with an older version of Cython, or use the most recent `master` commit (although you will need to update when we release 2.4.0 sometime in the next few months).

[2018-04-30 18:30] ericpan2018 commented on #531
@bryanwweber Thanks a lot for your help. I am not very clear with the installation details. In addition, I would like to ask if we can still install 2.2.1 and use method in #465 to fix the installation issue?

[2018-04-30 18:38] bryanwweber commented on #531
@ericpan2018 You can, although the patch may not apply cleanly because it was applied post-2.3.0. However, you should be able to fairly easily install an older version of Cython using pip if you really want to build 2.2.1. We will really need the installation details (posted to the User Group post please) to be able to help debug.

[2018-05-01 19:14] mazeau opened #532 "ck2cti InputParseError: unmarked duplicate reaction, twice on same line"
### Cantera version
2.3.0
### Operating System
mac 10.13.4
### Python/MATLAB version
2.7

### Actual Behavior
input:
[code]
output:
[code]
but as far as we can tell there is no duplicate, certainly not twice on line 463.
On multiple reruns the error will come up for different reactions (always found on the same line of the chemkin input file) for some reason and it is unable to generate a cantera

[2018-05-02 19:30] lrcancino opened #533 "Cantera 2.3 / intel fortran(2018)"
Hello,

It is somebody using cantera 2.3 & Intel Fortran XE 2018?

I have to build cantera by using scons... but I do not know how to do it.

https://www.cantera.org/docs/sphinx/html/compiling/config-options.html#f90-interface

if some body already did, I will be very happy to know how to do it.

Best regards,

Leonel.,

[2018-05-02 20:00] bryanwweber commented on #533
Hi! Is this the same post as on the User's Group? https://groups.google.com/forum/#!topic/cantera-users/2779hW12FRA If so, can you please close this issue to focus discussion over at the UG, which is the appropriate forum for this kind of question?

Thank you!

[2018-05-02 20:03] lrcancino commented on #533
Hello,
Yes, it is the same issue.
Thanks!

Leonel.

[2018-05-02 20:03] #533 closed, assigned to nobody

[2018-05-12 08:12] band-a-prend commented on #515
Sorry for very long delay. I only recently tested new feature and now create a pull request about it.

[2018-05-14 01:12] speth commented on #524
Can we please use this issue to track the repeatability problem with the equilibrium solver only? Feel free to create a separate issue regarding saving/loading 1D flame profiles.

[2018-05-14 02:35] ghost commented on #528
Xml format may help because it is standard format. The cti parser code seems like a specialized python interpreter, so a lot of internal state is cached.

@speth
I think it should cast a RuntimeError when it is reused if it is designed to be non-reusable.

[2018-05-14 02:58] speth commented on #523
I would suggest that you post your question to the [Cantera Users' Group](https://groups.google.com/forum/#!forum/cantera-users), where it will reach a wider audience.

[2018-05-14 02:58] #523 closed, assigned to nobody

[2018-05-14 03:27] speth commented on #532
Well, I can't replicate the error indicated with the file provided -- I get the error `Undefined elements: {'X'}` instead.

If you have all of your thermo data in the `chem.inp` file, you shouldn't specify the same file again using the `--thermo` method. My guess is that is why you are getting duplicate reaction errors -- the parser is grabbing the reactions from both files.

I'm also not sure I u

[2018-05-16 17:50] #528 closed, assigned to nobody

[2018-05-19 03:51] ghost opened #537 "replicability of FreeFlame state"
### Cantera version
2.4.0a
### Operating System
Linux
### Python/MATLAB version
3.6.3
### Expected Behavior
reproduce same result
### Actual Behavior
it seems that the FreeFlame object did not recover the same state after save() and restore()
### Steps to reproduce
[code]
output in windows:
[code]

I tried to modify the equilibrium calculation in `FreeFlame.set_initial_guess` function to `self.gas

[2018-05-19 03:53] ghost commented on #524
@speth
Sorry for the problem of not focusing.

[2018-05-19 11:02] bryanwweber commented on #537
@chengdi123000 Can you please create a minimal example of this failure, without any unnecessary imports (for instance, is `concurrents` really necessary to reproduce this?) Thanks

[2018-06-04 02:40] ghost commented on #537
Sorry for the delay. I used `functools.lru_cache` to simplify the coding. And you can comment the decorator to deactivate caching.

[code]

There are four different situations:

1. both get_gas() and get_ff() are cached: difference occurs at 6-th digit at phi=0.4
[code]
2. neither of them are cached (comment the `@lru_cache` decorator): perfectly replicated.
[code]
3. only `get_gas()` is cached:

[2018-06-06 15:54] #524 closed, assigned to nobody

[2018-06-06 15:58] speth commented on #532
In the absence of an update including a replicable error, I'm going to close this issue. Feel free to re-open if you can provide such information.

[2018-06-06 15:58] #532 closed, assigned to nobody

[2018-06-07 17:52] #507 closed, assigned to nobody

[2018-06-08 10:40] #394 closed, assigned to nobody

[2018-06-11 10:45] rddaz2013 opened #543 "SolutionArray save / load"
Is there a way to save/load the SolutionArray.object

[code]

doesn't work.... I want to save my Solution within the SolutionArray.object and load the data in a other python source. Yes i can save it in CSV but then the nice functions of SolutionArray.object is missing.

Is there a way to save multipy scenarios on disk an reuse them later?

[2018-06-12 22:03] ghost opened #545 "test failed with icc on RHEL6"
### Cantera version
2.4.0b1
commit: 4b4128aebd02140ac26fc84627d618b70c5e82dc
### Operating System
RHEL 6.7
### Python/MATLAB version
Anaconda 3.6.3
### Expected Behavior
flame speed of methane flame, phi=1atm, Tu=300K, P=1atm, using GRI3.0 mechanism

// 2.4.0a2, compiled @ RHEL6
0.40030061918765686  //mix, default refinement criteria
0.37200615737581444  //mix, ratio=2, slope=curve=0.01
0.37138160

[2018-06-12 22:57] ghost commented on #545
Same result for commit aac8eb92a, which is identical to that of v2.4.0b1 conda package on anaconda. I doubt problem comes from icc. Trying gcc.

[2018-06-12 23:07] ghost commented on #545
gcc 4.8.5 without MKL works for commit aac8eb9. It passes test.

[code]
And the flame speed output is:
[code]
Subjectively, it runs even faster than MKL version.

[2018-06-12 23:08] speth commented on #545
This sounds a lot like an issue that was reported on the Users' Group a while back (https://groups.google.com/d/topic/cantera-users/A7UWb9pZe3A/discussion) which turned out to be a bug in the Intel compiler. I would suggest trying the debugging steps I suggested there (e.g., compile with optimizations disabled, run the other subsections of the test suite besides `test-python2-onedim` (see output o

[2018-06-12 23:44] ghost commented on #545
I used icc with MKL but w/o optimization. It passed all tests

[code]

I should run tests before use it.

[2018-06-13 02:07] ghost commented on #545
I found `cc_flags='--no-ansi-alias'` solves the problem.

According to the discussion @speth supplied. It is related to two pointers point to same memory. And `--no-ansi-alias` is related to this phenomena and it tells the compiler do not assume the pointers are pointing different location.

[2018-06-13 10:54] ghost commented on #545
I think a better solution is add a patch to scons build script to specify `--no-ansi-alias` option to only a few source code files if buggy intel compiler is used.

[2018-06-13 15:04] speth commented on #545
The best solution is to not use a buggy compiler. The code in Cantera that triggers this problem:
[code]
does not violate the ANSI aliasing rules, which only apply when the two pointers are of different types. Here, these are not only pointers to the same type, they are pointers into the same array. The Intel compiler is making the baseless assumption that `m_ic0` is never equal to `m_ic1`.

I do

[2018-06-13 15:04] #545 closed, assigned to nobody

[2018-06-13 16:06] speth commented on #543
No, there is no way to pickle a `SolutionArray` because the underlying C++ objects which make up the `Solution` object cannot be pickled.

The less complicated approach would be to add a `load_csv` method to the `SolutionArray` class, which would essentially be the inverse of the `write_csv` method, and I think that would be a useful feature addition.

[2018-06-13 16:28] rddaz2013 commented on #543
I Look into it.

Ray Speth <notifications@github.com> schrieb am Mi., 13. Juni 2018 um
18:06 Uhr:

[2018-06-14 06:27] ghost commented on #545
I understand it is not cantera's problem.

How about throw a warning when known buggy problem is encountered? Is it a better practice?

[2018-06-14 13:29] bryanwweber commented on #545
Di, it will be better to add a note to the documentation, if anything I think. Adding to the build script means we have to do a lot of extra checking to be sure we're only warning in the right situation. I'm updating the docs right now anyways, I will add a note.

[2018-06-14 14:21] speth commented on #545
I'm :+1: on mentioning this in the documentation. My preference would be to update the list of supported compilers and note that Intel compiler is specifically disrecommended due to known bugs in certain compiler versions, with a link to the bug report (for which no resolution has been reported).

[2018-06-14 14:34] skyreflectedinmirrors commented on #545
@speth from my experience, you shouldn't expect a bug report filed on the intel forums to come to much (if you can get them to acknowledge it)

[2018-06-14 14:41] speth commented on #545
I have no expectations for action from Intel on this. I think it's more of
a cautionary tale for users that might make them re-think using the Intel
compiler.

On Thu, Jun 14, 2018 at 10:34 AM arghdos <notifications@github.com> wrote:

[2018-06-14 18:03] bryanwweber commented on #545
For future reference, this is the link to the thread/bug report at Intel: https://software.intel.com/en-us/forums/intel-c-compiler/topic/684987

[2018-06-14 19:09] ghost commented on #545
I understand and agree with @speth 's idea. It is a bug of external dependence. Modify the source code or build script may introduce problem in software maintainability and save the knowledge we already know to document is good enough.

[2018-06-16 09:52] rddaz2013 commented on #543
C++ objects? mhh I think the dynamic use of__setattr__ within makes it hard for pickle to do the job.

[2018-07-09 19:24] #515 closed, assigned to nobody

[2018-08-02 22:09] speth commented on #537
In case (3), the problem is that you aren't explicitly setting the inlet temperature for the flame. This ends up setting the initial temperature as whatever the `gas` object's state is, which happens to be the burned gas temperature from the previous solution. If you set `ff.inlet.T = T`, you will see that you get perfect replicability from this case.

For the other cases, there are a two things t

[2018-08-16 21:43] #537 closed, assigned to nobody

[2018-08-21 11:51] Repiklis opened #551 "MassFlowController is not extracting mass properly"
### Cantera version: 2.3.0
### Operating System: Windows 7
### Python/MATLAB version: Python 3.6 through Anaconda

### Expected Behavior: MassFlowController extracts mass from the reactor when the the set_mass_flow_rate is used with a positive value. The mass flow should stop if this is set to 0.0
### Actual Behavior: No mass is extracted from the reactor when MassFlowController.set_mass_flow_rate

[2018-08-21 12:39] bryanwweber commented on #551
Is this a duplicate of this: https://stackoverflow.com/questions/51557332/python-cantera-massflowcontroller-wont-extract-mass-from-reactor

[2018-08-21 12:49] skyreflectedinmirrors commented on #551
I believe the issue is that updating the mass flow on the `MassFlowController` w/o resyncing the reactor network doesn't change the mass flow rate in the C++ backend.  A simple fix is:

[code]

which does decrease the mass of the reactor.  Alternative you'd have to rebuild the reactor network after each switch on/off, as I don't believe there's a method like [syncState](https://cantera.org/documen

[2018-08-21 19:10] speth commented on #551
You should not call the `set_mass_flow_rate` function or make any other changes to the reactor network once you start integrating. This is because the underlying Sundials integrator can and will take timesteps which end after the time specified in the call to `advance`, and provides results at the specified time by interpolation. Thus, it will not necessarily see your change to the mass flow rate

[2018-08-21 19:10] #551 closed, assigned to nobody

[2018-08-22 16:07] Repiklis commented on #551
Thank you all for your very quick answers. They really helped to solve my issue.

I though that this was a bug, because if I am not mistaken (very likely), the [ic_engine.py](https://cantera.org/examples/python/reactors/ic_engine.py.html) example in the documentation is using my initial approach, calling `set_mass_flow_rate` during the integration (lines 137-141). On the other hand, [fuel_injectio

[2018-08-23 11:08] band-a-prend opened #553 ""scons install" doesn't install doxygen documentation subdirectories recursively"
### Cantera version
2.4.0

### Operating System
Linux

### Python/MATLAB version
none

### Expected Behavior
Successful install doxygen documentation subdirectories
### Actual Behavior
Absence of doxygen documentation subdirectories i "../cantera/doc/doxygen/html/" folder

### Steps to reproduce
1. Set scons "doxygen_docs" configuration option to "y"
2. Build Cantera (scons build)and notify that d

[2018-08-23 11:48] bryanwweber commented on #553
@band-a-prend Thank you for this report. I think your diagnosis is correct. I will look into how to fix this.

[2018-08-23 19:58] speth opened #554 "Matlab 'catcomb' example issues deprecation warning"
Cantera version: 2.4.0

The `catcomb.m` script now issues a warning about the deprecation of the C++ class `AxiStagnFlow`. The Matlab toolbox needs to be updated to use the new method for setting up the `StFlow` object using the `setAxisymmetricFlow()` method.

[2018-08-23 20:45] speth commented on #554
Also, the examples `diffflame.m`, `flame1.m`, and `flame2.m` fail with the error message:
[code]
which is issued by `isFlow.m`.

[2018-08-23 20:45] #554 closed, assigned to nobody

[2018-08-23 21:29] speth commented on #553
I think #555 fixes this. Can you confirm this works for you?

[2018-08-24 13:24] #553 closed, assigned to nobody

[2018-08-24 20:58] band-a-prend commented on #553
Yes, I can confirm that #555 fixed the problem with navigation.

Also this patch resolves issue that I didn't notice:
*.js files were not installed previously after build so searching through generated doxygen documentation and additional menus were unavailable. Now it's has Search field and menus and their are working.

Great thanks!

P.S.
Will last few fixes be implemented into resulting Cantera

[2018-08-24 22:19] speth commented on #494
The developers of Homebrew are not interested in supporting our use case (see https://github.com/Homebrew/homebrew-core/pull/31308), so we've dropped support for it. The best way to install Cantera on macOS ([instructions here](https://cantera.org/install/macos-install.html)) is to use conda for the Python package and the new `.pkg` installer for the Matlab toolbox.

[2018-08-24 22:19] #494 closed, assigned to nobody

[2018-08-27 13:01] ChristianOL opened #556 "undefined reference to 'Cantera::"
### Cantera version: 2.3.0 x64
### Operating System: Windows 10 Single Language
### Python/MATLAB version: Python 2.7
### Expected Behavior
  I would like to test the library in C++. I am trying to compile an example file of C++ but I get several errors of "undefined reference to 'Cantera::.." I followed the installation steps for Windows.
https://cantera.org/install/windows-install.html which see

[2018-08-27 14:19] speth commented on #556
The current version of Cantera is 2.4.0 (released just this past Friday), so please update to that version first.

I suspect this is mainly a configuration issue, which would be better handled on the Cantera Users' Group, and I suggest you post your question there. When you do, please provide additional details on what compiler you are using -- I guess DevC++ uses one of the MinGW compilers? To us

[2018-08-27 14:19] #556 closed, assigned to nobody

[2018-08-27 14:22] speth commented on #289
Even if you don't specifically need this anymore, I still regard this issue as unresolved. The intent is that all Cantera models should be available from any interface.

[2018-08-28 08:09] band-a-prend commented on #553
@speth
Thank you for updating release tarballs.

Sorry for bothering you. If there will be cantera 2.4.0 documentation tarball under https://github.com/Cantera/docs/releases ? It's very useful for offline reading of documentation.

Thank you in advance.

[2018-09-05 14:30] decaluwe commented on #423
I don't have the time to give a detailed reply at the moment, but was just scanning over this conversation and wanting to add a third endorsement for naming using 'lowercase_with_underscores'.  :thumbsup:

[2018-09-05 16:08] speth commented on #423
Actually, It's been a while since I wrote that, and I think that given that ChemKED is using `dashed-words`, also in a YAML-based file, we might want to go that way here as well.

[2018-09-08 03:24] #289 closed, assigned to nobody

[2018-09-09 03:55] QBPA opened #559 "Where is the mechanism_reduction.py's reduced mechanism stored?"
Respected experts：
  I am a learning cantera's rookie, and i have run the Mechanism_reduction.py successfully and want to read the reduced mechanism but don't know where the reduced mechanism is.
### Cantera version
2.3.0
### Operating System
windows conda spyder
### Python/MATLAB version
python 3.6
### Expected Behavior
using the cantera_test_mechanism_reduction.py and want to read the reduced me

[2018-09-09 13:54] bryanwweber commented on #559
Hi,

This question would be better posted on the Cantera User's Group: https://groups.google.com/forum/#!forum/cantera-users

Thank you,
Bryan

[2018-09-09 13:54] #559 closed, assigned to nobody

[2018-09-28 10:30] band-a-prend opened #564 "[SCons] Test build linking error if renamed_shared_libraries="no""
### Cantera version
2.4.0

### Operating System
Gentoo Linux x86_64

### Python/MATLAB version
python 2.7.14, 3.6.5

### Expected Behavior
Successfully build and running of `scons test`with report about tests results.

### Actual Behavior
Linking error `cannot find -lcantera_shared` of one of tests:
[code]
### Steps to reproduce
1. Run `scons build` setting up the next parameters (for example) `py

[2018-09-28 11:03] band-a-prend opened #565 "[Docs] Misleading default value in documentation for "versioned_shared_library""
### Cantera version
2.4.0

### Operating System
Gentoo Linux x86_64

### Python/MATLAB version
python 2.7.14, 3.6.5

------------
The [Cantera Configuration Options documentation](https://cantera.org/compiling/config-options.html) states

while the actual default behaviour is 'y' (SConstruct):
[code]
where `defaults.versionedSharedLibrary` is described as
[code]
So the default value is "True" (ver

[2018-09-28 13:55] speth commented on #564
Thanks for the report, I can replicate this. The proposed solution is simple but unfortunately not universal. On Linux we link all of the tests to the shared library (because all symbols are visible by default), but on Windows, only the symbols for the C interface are exported and accessible via the shared library.

More generally, should always rename the shared library?

In practice, it seems li

[2018-09-28 14:02] speth commented on #565
Agreed, this is rarely the default value. Representing this caveat (and similar ones where the "default" option is platform-dependent) will be a tricky issue to handle when resolving Cantera/cantera-website#26.

[2018-09-29 20:19] band-a-prend commented on #564
Yes, I tested the proposed solution only for GCC in Linux, so I refrained from sending pull request.

Usually I use `renamed_shared_libraries="yes"` but I assume that in some Linux distributive their QA could ask for removing of "_shared" suffix while packaging. If the removing of mentioned part of line is enough to resolve this issue for Linux than I assume it will be sufficient to apply local pa

[2018-10-02 13:53] bryanwweber commented on #120
According to the maintainers of the SDToolbox, they have updated for Cantera 2.3 and 2.4, and will eventually be posting the code on GitHub. https://groups.google.com/d/msg/cantera-users/VKGf9Qo7Xeo/IeUjc6vJCgAJ

Since they still seem willing to maintain the toolbox, I don't think it needs to be integrated to Cantera. Closing this issue.

[2018-10-02 13:53] #120 closed, assigned to nobody

[2018-10-17 08:22] ghost opened #567 "Missing functors in matlab toolbox"
### Cantera version
2.4.0

### Operating System
Win10

### Python/MATLAB version
Matlab2016b

### Expected Behavior
func = Func('pow', base, exponent);
-> func = base^exponent

### Actual Behavior
Pow-Functor and other functors are missing in Matlab Toolbox (https://groups.google.com/forum/#!searchin/cantera-users/matlab$20functor$20in$20matlab%7Csort:date/cantera-users/jBWBBjilFxg/ilkOCfwoBgAJ).

[2018-10-18 23:43] band-a-prend commented on #564
It's seems there is a related issue during install phase: sometimes during running of `scons install` command with env `renamed_shared_libraries="no"` an error of building of python modules occurs:

[code]
while if `renamed_shared_libraries="yes"` is used the install process always run successful.

Do the python interface shared libraries always expect the linking of static library of cantera (can

[2018-10-19 00:42] speth commented on #564
It had not occurred to me that setting `renamed_shared_libraries=n` has the side effect of linking the Python module to the shared library rather than the static library. I think what is missing in this case is the dependency of the compiled Python extension on the shared library in `interfaces/cython/SConscript`, which would go alongside the explicit dependency on the static library that's alread

[2018-10-19 15:40] band-a-prend commented on #564
For distribution of only cantera python  module the static linking maybe sometimes be more usefull.

I assume the last problem can be specific for linux distributive packaging system (gentoo) in my case and scons behaviour itself. Especially because of SCons reconfiguring after addition of stage_dir and prefix parameter to scons install command.

But as I could see even without scons reconfiguring

[2018-10-29 23:05] band-a-prend commented on #564
It seems that last mentioned error was caused I persistently (it's my mistake) set `prefix` option for `scons install` phase instead of `scons build`. That result in reconfigure process by SConstruct script and rebuild of python module. After moving the `prefix` option to `scons build` phase the install phase run successfully without rebuild of library.

Due to the peculiarity of Gentoo Linux buil

[2018-10-31 18:53] bryanwweber opened #569 "The examples should use except ct.CanteraError where appropriate"
In some of the flame examples [here](https://github.com/Cantera/cantera/blob/5c783c708f0c08def6f6a3d8328b336d65842357/interfaces/cython/cantera/examples/reactors/ic_engine.py#L149), [here](https://github.com/Cantera/cantera/blob/5c783c708f0c08def6f6a3d8328b336d65842357/interfaces/cython/cantera/examples/onedim/diffusion_flame_extinction.py#L116), [here](https://github.com/Cantera/cantera/blob/5c78

[2018-11-08 06:56] Heathckliff opened #571 "Returned entropy contains NaN from ReactorNet"
### Cantera version
2.3.0
### Operating System
win7
### Python/MATLAB version
py35, MATLAB2017b
### Expected Behavior
Returned entropy should be a real number by a ReactorNet.
### Actual Behavior
Calculated entropy contains NaN in matlab toolbox.
### Steps to reproduce
p31 = 691488.236664879;
T31 = 1020.391657320222;

cFuel = Solution('n-Decane_MRZ_V0.cti');

set(cFuel, 'T',T31, 'P',p31, 'Y','NC10

[2018-11-08 19:00] speth commented on #571
There is no guarantee that the state of the `Solution` object `cFuel` corresponds to the state of the `Reactor` object `rctr` after the call to `advance`, so this should not be relied on. If you want to calculate properties based on the `Reactor`s state, you should use methods which access the state of the `Reactor` and use those to set the state of the `Solution`, e.g.:

[code]
What is happening

[2018-11-08 19:00] #571 closed, assigned to nobody

[2018-11-09 13:32] Heathckliff commented on #571
Thank you for your reply. Problem fixed~！

[2018-11-28 09:47] ctudpython opened #577 "PDSS Water calculation error at 287.9K"
### Cantera version
2.4.0
### Operating System
Windows 7 (Linux also tested)
### Python/MATLAB version
3.6.5 (Anaconda distribution)

### Description of the problem
When trying to use the PDSS module for non-ideal mixtures, the calculation of the water density crashes at exactly 287.9 K regardless of the pressure used. Other temperatures work just fine.

A small model to check this is to get the x

[2018-11-30 01:31] skyreflectedinmirrors opened #578 "Minor typo in docs for `set_equivalence_ratio`"
https://github.com/Cantera/cantera/blob/ded7c674e67704555834cd93d032f33ac992c717/interfaces/cython/cantera/thermo.pyx#L584

is:

should be:

[2018-12-01 01:18] #578 closed, assigned to nobody

[2019-01-02 13:55] mefuller opened #582 "ck2cti fails to convert with NASA9 polynomial unless all species in thermo file are declared"
### Cantera version
2.4.0

### Operating System
Fedora 28, 29 (tested on both)

### Python/MATLAB version
2.7.15 / 3.6.7

### Expected Behavior
Conversion of a Chemkin mechanism to cti using separate input/mechanism files and a thermo file should successfully complete even if there are species in the thermo file which are not declared in the mechanism (as to allow use of a single large thermo data

[2019-01-02 14:02] mefuller opened #583 "ck2cti silently omits (irreversible) reaction with improper notation"
### Cantera version
2.4.0

### Operating System
Fedora 28, 29 (tested on both)

### Python/MATLAB version
2.7.15 / 3.6.7

### Expected Behavior
If a reaction is improperly expressed in a mechanism file, ck2cti should produce either a warning or an error during the conversion process.

### Actual Behavior
 When preparing a mechanism, an irreversible reaction was incorrectly denoted with "->" instea

[2019-01-02 23:08] supra08 commented on #577
@ctudpython, can I take up this issue?

[2019-01-10 12:17] sameshl commented on #313
I am new and would like to start contributing.Can I take up this issue?

[2019-01-10 14:17] bryanwweber commented on #313
Sure, see [the comment on the other PR](https://github.com/Cantera/cantera/pull/518#issuecomment-376164976) for where a good place to get started it.

[2019-01-10 14:26] speth commented on #313
Given the plans to deprecate the CTI format in the near future (#423, #584), I would hold off on this.

[2019-01-10 15:02] bryanwweber commented on #313
@speth Is the example on page 52 (55 of the PDF, copied below) already in the examples? It seems functionally the same as https://cantera.org/examples/matlab/reactor2.m.html

[code]

[2019-01-10 15:45] bryanwweber opened #586 "Provide a summary of data files from the Python interface"
Cantera provides several data files in CTI and XML format for use with the Python interface. The directory where these are installed can be found by running

[code]

It would be useful to provide functions to list the available files and print a summary of each file in the interpreter. Something like

[code]

[2019-01-10 16:59] speth commented on #586
I would defer this until the YAML format is completed (#584), where we will have a place for this kind of metadata (tentatively, the `description` key of the YAML file).

This is also kind of dependent on #339, given that most of the input files don't contain a description in any format.

[2019-01-10 17:21] bryanwweber commented on #586
I dunno. I just looked at a few of them, and they either had _something_ as a description (mostly as a `#` comment), or it was obvious the source (e.g., GRI30). For those that don't have anything, even something like "Example silane chemistry, source unknown" would be good enough. If we can pick something as a "standard" this would probably make a good GSoC project, and if the new YAML format is m

[2019-01-10 20:17] #582 closed, assigned to nobody

[2019-01-10 20:17] #583 closed, assigned to nobody

[2019-01-12 13:45] bryanwweber commented on #586
OK, given my comments about deprecation of CTI and XML in #584, I realize it probably doesn't make sense to try to standardize a format for metadata in those files. So for now, for this issue, I think what could be done is to generate the list of input files in the data folder where Cantera is installed. This could look something like, in

`interfaces/cython/cantera/data/__init__.py`:

[code]

Not

[2019-01-18 21:46] bryanwweber opened #590 "Typo in Matlab cp_mass documentation"
### Cantera version
2.4.0

The documentation for the `cp_mass` function in the Matlab toolbox is incorrect, it reads

[code]

To correct this, the file at [`interfaces/matlab/toolbox/@ThermoPhase/cp_mass.m`](https://github.com/Cantera/cantera/blob/master/interfaces/matlab/toolbox/%40ThermoPhase/cp_mass.m) needs to be edited, and the other similar files that distinguish mass- or molar-basis should

[2019-01-19 17:41] bryanwweber commented on #339
The `h2o2.cti` file is a subset of GRI-3.0: https://groups.google.com/d/msg/cantera-users/urFfNmZ0InI/KqTb7XCiFAAJ

[2019-02-02 13:04] bryanwweber commented on #339
@jiweiqi I don't think this issue is fixed yet

[2019-02-06 06:20] arjavvashi commented on #590
I want to work on this issue. Is it still open? I can see @CyberDrudge's pull request.

[2019-02-06 12:29] bryanwweber commented on #590
@arjavvashi This issue will be closed by #591. No need to work on it.

[2019-02-06 14:15] decaluwe opened #594 "Typo in src/thermo/SpeciesThermoFactory.cpp ?"
### Cantera version
2.4.0

In `src/thermo/SpeciesThermoFactory.cpp` function `newSpeciesThermoInterpType`, the switch case `CONSTANT_CP`  appears not to return anything (lines 37-38).

Because `const_cp` and `simple` both return `itype` `CONSTANT_CP`, it seems like the case `SIMPLE` on line 38 is actually unnecessary, and instead `case CONSTANT_CP`  should return `new ConstCpPoly(tlow, thigh, pref

[2019-02-06 16:04] speth commented on #594
https://github.com/Cantera/cantera/blob/e3424d8ed49f5f7611bc94933109292d32b732ec/src/thermo/SpeciesThermoFactory.cpp#L35-L41

`switch` statements in C/C++ are a little weird -- execution does not stop just because you reach a new `case` label, but keeps going until you reach a `break` or `return` statement. What this means is that for both the `CONSTANT_CP` and `SIMPLE` cases, the code returns a n

[2019-02-06 19:10] decaluwe commented on #594
Okay, thanks.  I think the `SIMPLE` case should be removed, though.  As noted above, there is no `itype` which is assigned to `SIMPLE`.  On line 59-60 of that file:
[code]

[2019-02-07 04:55] speth opened #595 "save/restore ThermoPhase state assumes density is an independent variable"
The functions `Phase::saveState` and `Phase::restoreState` assume that temperature and density are the independent thermodynamic variables, which is not true for several of Cantera's thermo models. For these models, the save/restore feature does not work correctly. For example (in Python):
[code]
Here, the pressure is left at 2 atm, despite the call to `restoreState`. In other cases, the `restoreS

[2019-02-07 18:42] speth commented on #594
I don't think it should be removed without going through the deprecation cycle, because if a user is working in C++, they could be calling the `newSpeciesThermoInterpType(int type, ...)` function directly, rather than the version that uses string names.

[2019-02-07 20:58] decaluwe commented on #594
Ah, okay - I was not considering that.  Thanks for the clarification.

SD

[2019-02-07 20:59] #594 closed, assigned to nobody

[2019-02-08 18:58] speth commented on #313
@bryanwweber Yes, I agree that these examples are functionally equivalent. I think the `reactor2.m` version is a better implementation than the one from the old CTI guide, as well.

The other example in the old CTI guide is the same as [diamond_cvd.py](https://cantera.org/examples/python/surface_chemistry/diamond_cvd.py.html), using [diamond.cti](https://github.com/Cantera/cantera/blob/master/test

[2019-02-10 14:02] CyberDrudge commented on #569
I'm unsure about the exception to distinguish solver errors vs. extinction, should i keep that as it is (that `if-else` clause) or implement a new error class for maybe each of them or something else.

[2019-02-11 02:37] bryanwweber commented on #569
@CyberDrudge The "Flame extinguished" string comes from this line: https://github.com/Cantera/cantera/blob/5c783c708f0c08def6f6a3d8328b336d65842357/interfaces/cython/cantera/examples/onedim/diffusion_flame_batch.py#L56 I would suggest adding a simple class that derives from `Exception` to indicate that the flame has extinguished, like
[code]
That should be defined outside the interrupt function an

[2019-02-12 17:44] CyberDrudge commented on #569
I was thinking about implementing something similar, just wasn't sure.

[2019-02-17 14:40] #590 closed, assigned to nobody

[2019-02-18 18:41] #569 closed, assigned to nobody

[2019-02-21 10:41] mhansinger opened #599 "AttributeError when creating a ct.Solution object"
### Cantera version
2.5

### Operating System
Ubuntu 16.04

### Python/MATLAB version
python2.7

### Expected Behavior
Should create a gas object

### Actual Behavior
AttributeError: 'module' object has no attribute 'Solution'

### Steps to reproduce
1. I build and install cantera with scons
That seems to work

2. Running a minimal example such as:
import cantera as ct
gas = ct.Solution('gri30.xml

[2019-02-21 14:33] bryanwweber commented on #599
Please attach your cantera.conf and config.log files, as well as the output from the `scons build` step. In addition, legacy Python 2 is not supported for Cantera > 2.4. You have to use modern Python 3.

[2019-02-21 22:09] speth commented on #599
Presumably what's happened here is that SCons automatically fell back to building the 'minimal' Python module, which of course doesn't include the `Solution` class. Since this seems to be a fairly common source of confusion, I'm wondering whether we should remove the automatic fallback and have failure to find a usable copy of Python terminate the build process unless the user explicitly specifies

[2019-02-25 16:36] mhansinger commented on #599
Thanks @bryanwweber  and @speth for the comments!

I built it for python3. The installation runs through, however, when I get then another error within pyhton3 as soon as I try to import cantera:

[code]

Somehow it is still installed for python2.7??
I attached also my cantera.confg and config.log

**cantera.confg**
python_package = 'n'
python3_package = 'y'
python3_cmd = '/usr/bin/python3.5'

**c

[2019-02-27 05:06] speth commented on #599
Since this isn't specifically a problem with Cantera (you would presumably get the same output from running `import numpy` at the Python prompt), I don't think this is a good forum for resolving this issue. You could consider posting to the Cantera Users' group, but if you do, please provide **all** of the information that Bryan mentioned -- namely, what is important here for diagnostic purposes i

[2019-02-27 05:06] #599 closed, assigned to nobody

[2019-03-02 11:30] mhansinger opened #602 "Constant pressure reactor 'core dumped'"
### Cantera version
2.4
### Operating System
Ubuntu 16.04
### Python/MATLAB version
python 3.5
### Expected Behavior
ODE integrations
### Actual Behavior
python crashes without any error message only saying:
`Segmentation fault (core dumped)`
### Steps to reproduce
1. I built cantera with scons
`scons build blas_lapack_libs=blas,lapack python3_cmd=/usr/bin/python3 && scons install`
2. I run the re

[2019-03-02 19:32] speth commented on #602
I'm not able to reproduce this issue. A few questions that might identify the problem:
- If you leave the call to `print` that was inside the integration loop in place, does the error occur before the first output, or after some number of calls to `advance`?
- Can you provide the output of the `scons build` step?
- What is the output of running `python3 -c 'import cantera; print(cantera.__version_

[2019-03-04 02:21] speth opened #603 "Add a function to find species by chemical formula"
There are a few places in Cantera where a model handles a particular species in a special way, e.g. H<sub>2</sub>O and CO<sub>2</sub> in the [flame radiatiaton model](https://github.com/Cantera/cantera/blob/5ad656e34286efe5e9700a049a6b5a1b1773d06f/src/oneD/StFlow.cpp#L93), and O<sub>2</sub><sup>-</sup> in [IonGasTransport](https://github.com/Cantera/cantera/blob/5ad656e34286efe5e9700a049a6b5a1b177

[2019-03-04 02:46] speth opened #604 "Add `set_equivalence_ratio` to `SolutionArray` objects"
Currently, the Python `SolutionArray` class has no equivalent of `ThermoPhase.set_equivalence_ratio`. A version of this function could be added to the `SolutionArray` class so that one can set the equivalence ratio to a range of values. This would make calculation of an adiabatic flame temperature curve very simple:
[code]

This function could also enable specifying a range of fuel and/or oxidizer

[2019-03-04 04:58] speth opened #605 "Setting T and P for PureFluid heptane fails at low temperatures"
### Cantera version
2.4.0 and 2.5.0a2

### Steps to reproduce
Run the following in Python:

[code]
Generates the exception:
[code]
Setting the state to a temperature of 204.5 or higher works fine. The minimum temperature for the model is supposed to be 182.56 K.

[2019-03-04 07:54] mhansinger commented on #602
- Yes, the error occurs before the first print output...
- The `scons build` output is:
[code]

- `python3 -c 'import cantera; print(cantera.__version__, cantera.__git_commit__)' `
` 2.4.0 aacceeb`

- The `(gdb)` output ist:

[code]

[2019-03-04 13:53] bryanwweber commented on #604
Should the size of the arrays in `set_equivalence_ratio` match the existing size of the `SolutionArray`?

[2019-03-04 13:57] bryanwweber commented on #602
I think the problem is most likely these lines from the build output:

[code]

You might need to specify `system_sundials = 'n'` in your `cantera.conf` file so that Cantera will build its own Sundials library. How are you getting the source code?

[2019-03-04 15:50] speth commented on #602
I think the problem is this:
[code]
Notice how the `nvecserial` library is coming from `/usr/lib` but the `cvodes` library is coming from `/usr/local/lib`? You've got two copies of Sundials installed, both of which are on the default search paths for headers and libraries, so it's getting them mixed together.

Bryan's suggestion of using `system_sundials=n` should fix this problem, but you may als

[2019-03-04 17:44] bryanwweber commented on #602
@speth So Cantera can be built with BLAS/LAPACK, even if SUNDIALS is not? What parts of Cantera would be linked with those optimized libraries? What is the point of that warning?

[2019-03-04 17:56] speth commented on #602
Correct. In that case, BLAS and LAPACK would be used for the 1D flame
solver, in some of the equilibrium solver, and in the multicomponent
transport model. However, reactor network integration would use the
potentially less-optimized functions built into SUNDIALS, hence the warning.

[2019-03-04 18:56] speth commented on #604
Yes, I would expect this to work the same way as the other setters, e.g. `states.TPX = ...` work, with the length of an input in each dimension needing to have either the same length as the `states` object, or be a scalar in which case the values are broadcast in that dimension. An example of how this works now is already in [the SolutionArray documentation](https://cantera.org/documentation/docs-

[2019-03-05 14:30] mhansinger commented on #602
Great, thanks a lot!
I'll remove one of the two Sundials versions..
Adding `system_sundials=n` in the build finally solved it.

[2019-03-05 15:27] #602 closed, assigned to nobody

[2019-03-07 00:41] speth opened #608 "Allow setting of integrator options for InterfaceKinetics.advanceCoverages"
Right now, there is nothing a user can do to resolve integration failures in `InterfaceKinetics.advanceCoverages`. Providing access to some of the integrator options would allow users to work around at least some failures. The following methods (from the `CVodesIntegrator` class) come to mind as the most useful:
- `setTolerances`
- `setMaxErrTestFails`
- `setMaxStepSize`

[2019-03-07 00:43] skyreflectedinmirrors commented on #608
You beat me to it! I'll submit a fix for this tomorrow.

On Wed, Mar 6, 2019, 7:41 PM Ray Speth <notifications@github.com> wrote:

[2019-03-07 15:37] skyreflectedinmirrors opened #609 "InterfaceKinetics::solvePseudoSteadyStateProblem does not enforce coverage constraints"
### Cantera version

Dev

### Operating System

Ubuntu

### Python/MATLAB version

3.6

### Expected Behavior

Solution given by InterfaceKinetics::solvePsudeoSteadyStateProblem should at least satisfy the constraint sum(coverages) = 1.  Ideally, matching the output of InterfaceKinetics::advanceCoverages.

### Actual Behavior

It appears to find a multiple of the steady-state solution that does no

[2019-03-14 13:46] skyreflectedinmirrors opened #613 "BandMatrix incorrectly sets integer index type with Sundials 2.4"
### Cantera version
Dev

### Operating System
All

### Python/MATLAB version
N/A

### Expected Behavior
Compilation against Sundials 2.4

### Actual Behavior
Failed compilation, [see here](https://05422522006541916160.googlegroups.com/attach/967e7262dfee4/buildlog.txt?part=0.1&view=1&vt=ANaJVrEeToQGqlA2eIeVxSfLNEb9VGVDOQ-PSMmdl6lWU7LUSc20NSECUgSdtm9IRvV1aKFCaJ_4g4UIcutvgQhFvv-2KCMSTE7C-CPiLWe_NHS4

[2019-03-14 16:27] skyreflectedinmirrors opened #614 "ctml_writer.py applies rounding to Arrhenius pre-exponential factors"
### Cantera version
Dev

### Operating System
All

### Python/MATLAB version
3.6

### Expected Behavior
Reaction rate pre-exponential Arrhenius factor should exactly match the specified value in a solution file.

### Actual Behavior
Slight discrepancy due to floating-point rounding [applied here](https://github.com/Cantera/cantera/blob/master/interfaces/cython/cantera/ctml_writer.py#L1060)

### St

[2019-03-14 18:20] speth commented on #614
I recently applied a band-aid for this problem where it applies to Redlich-Kwong parameters (ec7f7794), and would certainly welcome a more comprehensive solution. `ctml_writer` will still be with us for a while, so I think it's worth fixing.

Consider this also an invitation to look at the YAML PR and whether how this is handled there makes sense -- see the functions `represent_float` and `applyUn

[2019-03-14 19:14] #613 closed, assigned to nobody

[2019-03-22 02:37] speth opened #615 "Flame solver does not retain transport options after automatically expanding domain"
When solving the freely propagating flame with the `auto` option, if the solver has to expand the domain to fit the flame, the settings for `transport_model` and `soret_enabled` are not retained, but are replaced with the values used in the first solving stage of `'Mix'` and `False`.

Example:
[code]
Changing the initial domain width to 0.06 m eliminates the need to expand the domain, and results

[2019-04-01 20:54] ischoegl opened #616 "Cantera needlessly exports external/built-in modules and functions"
### Cantera version
2.4.0 / 2.5.0a

### Operating System
all

### Python/MATLAB version
all Python

### Expected Behavior
External (and built-in) modules should not be added to the cantera package as they are not part of cantera, e.g. `numpy`, `math`, `os`, `sys`, `weakref`, `erf`, `warnings`, `appdelete`, ...
While they are obviously required internally, they should not necessarily be exposed (ca

[2019-04-02 18:09] speth commented on #616
The referenced PEP has a status of "deferred" and depends on another PEP (426) whose status is "withdrawn", so I don't think adherence to this PEP has much weight.

Furthermore, this behavior is also seen in plenty of other modules. For example, `numpy` imports `math`, `sys`, and `warnings`. It also occurs within the standard library, e.g. `pickle` imports `io`, `re`, and `sys`.

[2019-04-03 06:09] seilkhanovk commented on #603
Hey @speth! I am going to work on this issue. However, I have a question. What do you mean by atomic composition? Also, can you provide an example?

[2019-04-03 11:53] decaluwe commented on #603
Atomic composition: how many atoms of each species.  e.g. Water is ‘H:2, O:1’  While I might name the species “H2O,” there is no requirement that I do this.  I could just as easily call the species “water,” in which case I would not handle this species in the intended manner.

Examples: I believe Ray provided direct links to two examples in his post - the flame radiation model and IonGasTransport

[2019-04-03 13:58] ischoegl commented on #616
It only involves a couple of lines of code and would create a cleaner interface. I can fork, implement and create a pull request if the effort is supported.

[2019-04-03 14:46] bryanwweber commented on #616
@ischg I don't actually see where PEP 423 recommends against the behavior that Cantera is doing here. Can you provide a link to the section? As @speth said, many other much bigger libraries (and things from the standard library!) do exactly what Cantera does.

The problem with this change (and I was a bit hasty in adding the "help-wanted" tag) is that now we have to add a line to the `__all__` obj

[2019-04-03 15:29] ischoegl commented on #616
@bryanwweber  ok. not a problem. PEP 423 advocates against [deep nesting](https://www.python.org/dev/peps/pep-0423/#avoid-deep-nesting), where in this case there isn't even a real reason. The PEP also recommends the use of [standard patterns](https://www.python.org/dev/peps/pep-0423/#id101) for community projects, which implies that they shouldn't be renamed using an alias. This admittedly does no

[2019-04-03 17:10] speth commented on #616
Right, the issue that Bryan mentions of needing to maintain `__all__` is part of what I would like to avoid. The other issues with PEP 423 notwithstanding, I think the interpretation of its guidance about nesting is not about how and where we import packages that we use, but how the contents of the Cantera package itself are structured. For example, this is a recommendation against putting things

[2019-04-06 01:51] ischoegl opened #618 "Feature request: C++ factories for flow devices and walls"
### Feature Request

A consistent use of `Factory` objects would simplify the inclusion of custom `Wall` or `FlowDevice` classes in C++. The `ReactorFactory` approach (mostly) avoids hard-coding, and illustrates how custom objects can be included in reactor networks.

### Cantera version
2.5.0a2

### Expected Behavior
Consistent handling of `ReactorNet` related objects in clib and cython interface

[2019-04-11 02:14] #608 closed, assigned to nobody

[2019-04-11 05:28] ghost opened #620 "SUNDIALS 4.1.0 does not work with Cantera 2.4.0"
### Cantera version
2.4.0
### Operating System
Linux, RHEL6
### Python/MATLAB version
3.6.3
### Expected Behavior
Build successfully
### Actual Behavior
Failed because `CV_NEWTON` cannot be found in sundials 4.1.0

last part of `config.log` is
[code]
### Steps to reproduce

just install sundials 4.1.0 and compile cantera 2.4.0

I found this:
`With the introduction of SUNNonlinSol modules, the inpu

[2019-04-11 09:27] Saintis opened #621 "Unable to import all species containing C and S"
### Cantera version
2.5.0a2 (848a3bf)
### Operating System
Ubuntu 18.04

### Python/MATLAB version
Python 3.6

### Expected Behavior
Able to import all species from `nasa` containing C and S.

### Actual Behavior
CanteraError thrown: "phase gas already contains a species named Cs".

### Steps to reproduce
Run
[code]

Error:
[code]

[2019-04-11 13:21] bryanwweber commented on #620
For reference this was also reported on the User Group: https://groups.google.com/forum/#!searchin/cantera-users/sundials$204.1%7Csort:date/cantera-users/m3MtGtDmtf0/tF9O4RpaAQAJ

[2019-04-15 20:24] AlexGiorgini opened #623 "'NotImplementedError: Solution object is not picklable'"
### Cantera version
2.4.0
### Operating System
Windows 10
### Python/MATLAB version
Python 2.7.16

Hi everyone,

i'm writing here in order to understand how to manage the exception raised by the code, specifically 'NotImplementedError: Solution object is not picklable'. I'm not an expert of Cantera and i've been given the code in the context of my master thesis in order to analyze it for future ap

[2019-04-15 22:32] bryanwweber commented on #623
Hi @AlexGiorgini! Welcome to Cantera. The Google Users Group is the appropriate place for this post. Unfortunately, we also need to you please include a minimal sample script with your post that demonstrates the error you're getting. If you could make a new post over on Google with this content and an example, that would be fantastic. Thank you!

[2019-04-16 20:50] speth commented on #623
Duplicate of #570.

[2019-04-16 20:50] #623 closed, assigned to nobody

[2019-04-19 14:50] bryanwweber opened #625 "Add ability to sort SolutionArray"
Right now, it is not possible to sort `SolutionArray` instances without copying everything into a new `SolutionArray` with a loop. Example, courtesy of @arghdos:

[code]

It would be useful to add a `.sort()` method that takes a column name or index as the argument and sorts based on that. To implement this will require converting the "internal" `_states` object to be consistently either a list or

[2019-04-19 21:20] bryanwweber opened #626 "Pass the environment PATH into SConstruct for the samples"
Building the samples with a compiler not located in the OS default `PATH` is not possible at the moment with SCons because SCons does not include environment variables from the shell in its `Environment`. I'm encountering this issue with the conda package, where the conda compilers should be used to compile the samples (since libcantera was also compiled with those compilers). However, the conda c

[2019-04-20 14:14] bryanwweber commented on #626
If this is not a change we want to make here, I can patch the template file during the conda build process instead

[2019-04-23 19:38] ischoegl opened #628 "Enhancement: automatic reduction of advance step in ReactorNet simulations"
### Cantera version
2.5.0a2
### Current Behavior
There is no option for an automatic reduction of time increments between outputs for `ReactorNet.advance` when states rapidly change (e.g. example simulations for `IdealGasConstPressureReactor` in `reactor1.py`)
### Enhancement
An automatic reduction of time steps ensures that processes are properly resolved without having to guess an appropriate st

[2019-04-23 20:45] bryanwweber commented on #628
Hi @ischoegl! How is this different from the `step()` method that already exists? The CVODE solver is already an adaptive time-step integrator, and the `step()` method takes one internal time step, after which you can query the state of the reactor.

[2019-04-23 20:50] ischoegl commented on #628
@bryanwweber  ... `step()` just takes one internal step within CVODE. `advance(time)` will advance to `time` no matter what (using many internal CVODE steps). The pull request adds new functionality that currently does not exist (but uses existing CVODE infrastructure). The goal was to (automatically) adjust the time increment between ouputs (i.e. states written to a file).
PS: Querying the reacto

[2019-04-23 21:03] skyreflectedinmirrors commented on #628
Bryan, I think the suggested change is that the user would be able to set
an absolute or relative tolerance on the change in specific solution
components (e.g., 50K temperature intervals) that if exceeded would trigger
an intermediate output state.

I'm generally for this change as it would provide more granular (and
frankly better) output control than either the pure adaptive time step of
`step()

[2019-04-23 21:07] ischoegl commented on #628
@arghdos ... that's exactly what I tried to implement. I agree that there are likely better (i.e. less awkward) implementations, but I tried to refrain from changing core code when proposing this behaviour. The pull request #629 can be easily changed to accommodate an improved interface.

[2019-04-23 21:26] ischoegl commented on #628
To be more specific: it is fairly straight-forward to pass optional arguments to `advance`, and have default tolerances that do not break backwards compatibility. As @arghdos stated, the key issue is the function potentially not returning the desired end state; my approach would be to switch from `void` to returning the actual end time as a `double`. What I implemented in #629 is essentially `adva

[2019-04-23 23:22] ischoegl commented on #628
I just renamed some functions in #629 to clarify (using `advance_towards(time)`, `atol_advance`, etc.)

[2019-04-24 03:18] ischoegl commented on #625
@bryanwweber ... depending on what context `.sort()` is needed (during a processing step or before plotting), converting a `SolutionArray` to a `pandas.DataFrame` may provide a simple work-around.

I.e. if no additional `SolutionArray` manipulations are needed, this would work:
[code]
or
[code]
As there is currently no C++ implementation of `SolutionArray` objects, the python data analysis package

[2019-04-24 03:48] agarwalrounak commented on #313
@bryanwweber Should I open a PR to replace the diamond.cti in data/inputs with the one in test_problems/diamondSurf?

[2019-04-25 15:46] bryanwweber commented on #313
@agarwalrounak Sure. Please also update the diamond_cvd.py example, as mentioned by @speth

[2019-04-27 17:10] ischoegl commented on #615
Behaviour is caused by the `auto` solution mechanism implemented in `Sim1D.solve`. Both soret and multicomponent are temporarily disabled; if an Exception occurs, they are not restored.

[2019-04-28 03:42] ischoegl commented on #604
I do have a question regarding the envisioned scope of `SolutionArray`. At the moment, it only exists as a pure python class. On the other hand, there is ongoing work to phase out ctml (see pull request #584), which may also mean that the XML output for `oneD` simulations may be revised (@speth posted  _1D Flame Development Ideas_ mentioning _"Introduce HDF5 or CSV or JSON or YAML or some other ou

[2019-04-28 13:27] bryanwweber commented on #604
@ischoegl I suspect that any serialization output routine for 1-D classes will be in the C++ layer so that any interface could use it. However, I think it's possible that having a specialized subclass of `SolutionArray` in Python for 1-D cases would be useful.

[2019-04-28 16:53] ischoegl commented on #604
Thanks for the insights: I agree that a subclass of SolutionArray handling 1D would be useful, which is what also prompted my inquiry. Has there been any discussion on what the new C++ layer replacing XML could entail?

[2019-04-30 20:25] decaluwe opened #633 "setMoleFractions violates model assumptions for surfPhase thermo phase"
### Cantera version
2.5.0a2
### Operating System
All

### Expected Behavior
The surfPhase (aka 'ideal_interface', at the cti level) model assumes a fixed site density (i.e. molar density of available sites; `m_n0` in the class, typically something like `gamma_o`, in textbooks).

### Actual Behavior
Setting the mole fraction independently  (via <phase_name>.X at the Python level) instead assumes th

[2019-04-30 20:31] decaluwe commented on #633
Separate but related question:  technically, the mole fractions are not the same as the coverages.

- The coverage theta_k is fraction of the available lattice sites occupied by species k.
- The mole fraction X_k is the moles of species k per mole of total surface species present.

For simple species which occupy only one site, the two are equivalent.  However, if a species is present which occupi

[2019-04-30 20:45] ischoegl commented on #615
@speth ... feel free to review the proposed fix (pull request #631)

[2019-05-01 22:29] ischoegl commented on #618
The feature is implemented in PR #632 and is ready for review.

[2019-05-02 18:39] #616 closed, assigned to nobody

[2019-05-02 19:20] mazeau opened #634 "Converting surface reactions with explicit reverse ratesdoes not generat a pair of surface_reactions"
@rwest and I were trying to convert a chemkin file to cantera and were running into a bad_cast error, but the only difference between the 2 cti files is that the reverse is uncommented out and it gives:
[code]
any ideas why?  it does the same thing in 2.4.0 and 2.3.0

[vlachos2007-bad_cast.cti.txt](https://github.com/Cantera/cantera/files/3139601/vlachos2007-bad_cast.cti.txt)
[vlachos2007-works2.c

[2019-05-02 20:42] rwest commented on #634
The difference between the two cti files is just the broken one has the extra reaction
[code]

The error `RuntimeError: std::bad_cast` occurs either when validating the recently-generated .cti file in ck2cti, or when trying to import the phase into an interface in cantera.  _(post edited, to correct the reaction)_

[2019-05-02 21:05] mazeau commented on #634
We can also cause a bad_cast error with
[code]

[2019-05-02 22:45] ThanasisMattas commented on #603
Hello! I took a look on this issue, if that's ok, and I think the overload is correct. Should I make any other changes (for example the input parameters at the examples provided in the discription) or make a pull request with just the overload?

[2019-05-04 19:22] ThanasisMattas commented on #595
Hello! I would like to have a look on this issue. I think this could be handled parallel to this @todo entry commented in Phase.h:

  @todo
    - Make the concept of saving state vectors more general, so that it can
      handle other cases where there are additional internal state variables,
      such as the voltage, a potential energy, or a strain field.

So, possible overrides at derived class

[2019-05-07 11:41] ischoegl commented on #634
Shouldn’t those be surface reactions? I’m not familiar with the parser details, but the difference between the working and the non-working cti files is the use of surface_reaction vs reaction.

[2019-05-07 11:50] rwest commented on #634
Ahah! Well spotted. Somehow missed that.

So I think this reveals an error in the ck2cti when converting surface reactions with explicit reverse rates into coupled irreversible pairs, the reverse is not generated as a surface_reaction.

[2019-05-10 02:21] #615 closed, assigned to nobody

[2019-05-10 14:57] speth commented on #633
The problem isn't that the site density (`m_n0`) is being changed, it's that the mass density (`m_dens`) isn't being updated. The default behavior, inherited from the `Phase` class is that since density is usually one of the independent variables, it doesn't need to be recalculated after a change in composition.

For derived classes which use some other set of independent variables, the solution i

[2019-05-14 16:34] ischoegl opened #638 "Deprecate magic numbers in zeroD CLIB interface"
### Cantera version

All / current development version (2.5.0a2)

### Operating System

All

### Python/MATLAB version

N/A

### Expected Behavior

The use of _magic numbers_ as type constants should be deprecated throughout Cantera in favor of string types. I.e. type queries should have a signature `virtual std::string type() const`, like in class `ThermoPhase`.

### Actual Behavior

All current

[2019-05-28 23:21] #618 closed, assigned to nobody

[2019-06-11 14:13] bryanwweber opened #642 "Create an example using LatticePhase and LatticeSolidPhase"
An example using the `LatticePhase` and the `LatticeSolidPhase` would help understand and demonstrate the purpose of those classes.

[2019-06-11 22:28] decaluwe opened #644 "Setting of density in `LatticePhase`"
### Cantera version
2.4.0

### Operating System:
Any

### Python/MATLAB version:
Any

### Expected Behavior:
The `LatticePhase` implements a `thermoPhase` representing a solid solution with a fixed/specified molar density (kmol/m3).  In theory, the mass density is therefore not an independent variable - it should adjust, as a function of composition, to maintain this set molar density.

### Actual

[2019-06-12 14:58] decaluwe opened #646 "Improve WaterSSTP helper class documentation"
### Cantera version
2.4.0

### Operating System
All

### Python/MATLAB version
All

### Actual Behavior
At present, there are a number of classes in the `thermo` directory which provide supporting calculations to the `WaterSSTP` ThermoPhase class.  These classes:

- `WaterProps`
- `WaterPropsIAPWS`
- `WaterPropsIAPWSphi`

Are not instantiatable on their own, but provide low-level functionality nec

[2019-06-13 14:46] bryanwweber opened #650 "Update to 2018 CODATA physical constants"
With the release of the new definition of the kilogram, we should update the CODATA physical constants and atomic weights of the elements. This issue serves as a discussion platform for how the constants should be defined.

## Physical constants

The most recent values of the constants can be found from NIST: https://physics.nist.gov/cuu/Constants/Table/allascii.txt

Some of the constants have a d

[2019-06-13 19:20] speth commented on #626
Is this superseded/resolved by #648?

[2019-06-13 20:31] speth commented on #650
- I think it would be appropriate to define `GasConstant` as `Avogadro * Boltzmann`, and I don't think floating point rounding will be an issue (or at least, it's the same issue whether you do the calculation ahead of time or not).
- I would not add any more constants to this file unless we are already using them elsewhere, and there aren't any of those that I'm aware of.
- We care about atomic we

[2019-06-13 22:20] bryanwweber commented on #626
Yes? #648 is one solution to this problem, by specifying the compiler name that SCons knows what to do with (i.e. `clang` on macOS, `gcc` on Linux) it seems to work. I'd say that's probably the better solution for now and if it is a problem in the future, we can revisit. I'll leave this open until we push the first alpha conda packages to the dev channel and we can actually test what happens thoug

[2019-06-14 14:51] bryanwweber commented on #650
Yes, I had to check that it was the values published on May 20, 2019. I guess the experiments were conducted last year up through the end of last year.

The precision of those values seems rather lower than the existing values. Do you know where the existing values came from? FWIW, Wikipedia lists all of the values: https://en.wikipedia.org/wiki/Standard_atomic_weight#List_of_atomic_weights

[2019-06-16 11:18] ischoegl opened #654 "Fix implementation of advance_to_steady_state"
### Cantera version

all

### Operating System

all

### Python/MATLAB version

all

### Expected Behavior

The choice of the Feature Scaling approach in `advance_to_steady_state` to determine convergence should use an actual time derivative.

### Actual Behavior

In the current implementation, convergence is checked for an absolute difference between integrator states. The step size is, however,

[2019-06-18 23:14] decaluwe commented on #336
So I was just looped into an email thread instigated at someone from KIT (DETCHEM) asking about this same issue.  Which mainly raised the question: did we ever do anything about this?  I see that the issue is still open, so I would guess not, but...

[2019-06-19 19:15] corchise opened #655 "Conservation of Nitrogen Atoms Violation"
### Cantera version
2.4
### Operating System
Linux 3.10.0-862.14.4.el7.x86_64
### Python/MATLAB version
Python 3.6.4 :: Anaconda, Inc.

### Expected Behavior
Atoms are conserved throughout the steady state, laminar, premixed flame.
### Actual Behavior
The number of atoms of Nitrogen at least are not constant throughout said flame, varying by more than 0.5% (See attached spreadsheet)

### Steps to

[2019-06-19 23:33] bryanwweber commented on #655
Is this the same post error as https://groups.google.com/forum/#!topic/cantera-users/N4tRNRgS3fo?

[2019-06-20 00:49] decaluwe commented on #655
Yes, I assume so. It is the same user, at least. I view this as the appropriate avenue to address the concern, though.

Sent from my iPhone

[2019-06-20 14:31] corchise commented on #655
Yes, I also posted that.  Another member of the lab I work in has noticed a similar issue in counterflow diffusion flames, but I don't have an example for that at the moment. It's also with the amount of Nitrogen not following expected behaviour.

[2019-06-20 19:34] rwest opened #656 "Reading composition with 5 elements in Chemkin files (in ck2cti)"
### Cantera version
2.4 (and earlier)
### Operating System
Mac OS X
### Python/MATLAB version
Python

### Expected Behavior

As described in the original documentation on Page 61 of  [Sandia report from 1980](https://prod-ng.sandia.gov/techlib-noauth/access-control.cgi/1980/808003.pdf)
in the Chemkin thermo block, on line 1 of a species definition, columns 74 through 78 can contain, if needed (eg.

[2019-06-22 00:11] bryanwweber opened #658 "BinarySolutionTabulatedThermo should use snake_case in Python"
### Cantera version
2.5.0a2

Some of the variables and class names associated with the new `BinarySolutionTabulatedThermo` classes use camelCase in Python, rather than the standard TitleCase (for class names) or snake_case (for variable and function names). In my opinion, we should conform to usual Python standards here. These will need to be changed in ctml_writer.py and cti2yaml.py.

From a comm

[2019-06-25 19:20] bryanwweber commented on #655
@corchise Has this been resolved by the post on the Google Group?

[2019-06-25 19:22] corchise commented on #655
Ah yes, sorry.

[2019-06-25 19:22] #655 closed, assigned to nobody

[2019-06-26 02:36] speth commented on #423
While there are still a few unfinished features related to the introduction of the YAML format, I'm going to close this issue since this was mainly a discussion of the syntax, which has been fully implemented by #584.

[2019-06-26 02:36] #423 closed, assigned to nobody

[2019-06-26 17:48] #628 closed, assigned to nobody

[2019-06-27 01:40] ischoegl commented on #638
This Issue is based on comments by @speth (made during discussions for PR #632). A corresponding fix is proposed in PR #660.

[2019-06-27 12:30] bryanwweber opened #662 "The build script requires NumPy and ruamel_yaml for YAML conversions"
### Cantera version
2.5.0a3 (with YAML PR merged)

### Operating System
Any

### Python/MATLAB version
Any

With the new YAML input files, we are converting CK input files to YAML with the ck2yaml.py script during the build process. This script requires NumPy and ruamel_yaml (or ruamel.yaml), even if the Python interface is not being built. These packages should be checked for during the build pro

[2019-07-01 15:39] ischoegl opened #665 "Update ic_engine.py example"
### Cantera version

2.4 / 2.5a3

### Operating System

all

### Python/MATLAB version

python

### Expected Behavior

The example should run simulations in an efficient manner (i.e. use `Func1` routines for valve train and injection timing)

### Actual Behavior

Implementing valve train and injection in the main simulation loop (between sim.advance steps) requires a time step that is set much sma

[2019-07-01 15:56] bryanwweber commented on #665
Could you be more specific about where `Func1` routines should be used? When Python functions are passed to methods like `set_velocity()` it is equivalent to directly creating a `Func1` class instance (to my understanding). I think the example could certainly be improved (and see the comments on #587 as well) but I'm not sure what you mean here.

[2019-07-01 16:20] ischoegl commented on #665
The `Func1` approach should be used for `inlet_valve.set_valve_coeff`, `outlet_valve.set_valve_coeff` and ` injector_mfc.set_mass_flow_rate`. I haven't run any tests yet, but there is potential to simplify (eliminate?) the refinement machinery also (using the newly implemented `r.set_advance_limit` capabilies). I will submit a PR before long.

[2019-07-01 17:47] ischoegl commented on #665
@bryanwweber ... I ran some tests and realized that `Func1` for valves does not accept time as an input, which effectively blocks this approach. I consider this a bug, as the `set_valve_coeff` should replace the valve coefficient, not replace the valve equation, see:
[code]
Imho, the function should be implemented as:
[code]

PS: the python documentation does describe the implemented behavior, whi

[2019-07-01 19:43] bryanwweber commented on #665
Thanks @ischoegl I think this is probably what @speth was referring to on #587

[2019-07-01 19:57] ischoegl opened #666 "Create consistent approach for FlowDevice parameters/functions"
### Cantera version

2.4.0 / 2.5.0a3

### Operating System /  Python/MATLAB version

all

### Expected Behavior

`FlowDevice` objects should use a consistent philosophy for the implementation of parameters. I.e. `MassFlowController`, `PressureController` and `Valve`. Function names should be representative of actual behavior. MATLAB and Python implementations should use the same approach.

### Act

[2019-07-01 20:09] ischoegl commented on #665
Correct. As @speth commented

I opened a new issue (#666) that seeks to clarify some of the inconsistencies of the interface.

[2019-07-04 19:31] spinnau opened #668 "Cantera import error in python when built with system yaml-cpp"
### Cantera version
2.5.0a3 (674c37ce3cbfd)

### Operating System
Linux (possibly any)

### Python/MATLAB version
Python 3.7.3 (possibly any)

### Expected Behavior
Compiling the Cantera python package with system `yaml-cpp` library should work.

### Actual Behavior
If the cantera python package is built with system `yaml-cpp` then the import in python fails because the cantera cpython library is

[2019-07-08 20:47] bryanwweber opened #669 "ck2yaml and cti2yaml require Python 3, breaking builds that use system Python 2"
### Cantera version
2.5.0a3

### Operating System
Any

When building from source, either Python 2 or Python 3 should be able to be used to run SCons. The new `ck2yaml` and `cti2yaml` scripts depend on Python 3 features. The build script relies on at least `ck2yaml` to convert CHEMKIN input files to the YAML format, so builds that use Python 2 to run SCons and don't specify a `python_cmd` that is a

[2019-07-12 18:07] ischoegl opened #670 "scons test fails for Visual Studio 2019"
### Cantera version

2.5.0a3

### Operating System

Windows 10 / Visual Studio 2019

### Python/MATLAB version

Anaconda 3.7

### Expected Behavior

`scons test` runs without error

### Actual Behavior

`scons test` fails with `error C2512:`, i.e.

[code]
### Steps to reproduce
1. Compile current master (commit 674c37ce3cbfd867179d8ab6c9af605b5d56eb6c) using VS2019 (via MSVC 14.1)
2. Run `scons te

[2019-07-22 19:09] bryanwweber commented on #621
Hi! Thank you for your patience waiting for a response to this issue.

This appears to be because the check for undeclared elements is done after reading the species, and/or because the species names are not treated as case sensitive. I'd have to look into the code a little more to exactly figure out why this is happening, but I can reproduce the problem. Thank you for reporting it!

[2019-07-22 19:29] bryanwweber commented on #656
Thanks for reporting this @rwest. I'm not super inclined to support an apparently mostly unused feature that's only useful for 40 year old software that only a few people are even licensed to use anyways. Just out of curiosity, does Chemkin-II support surface chemistry at all?

[2019-07-22 19:33] bryanwweber commented on #662
Related to #669

[2019-07-22 20:19] bryanwweber commented on #668
Hi! Thanks for your patience and for reporting this issue. I can't reproduce this specific error on macOS, I'll have to try later on Linux. That said, I get an error during the linking of the Cantera `.dylib` (during the build process). After `brew install yaml-cpp`, I get

[code]

and the error message complains about undefined symbols:

<details><pre><code>Undefined symbols for architecture x86_

[2019-07-22 21:55] spinnau commented on #668
Thanks for looking into this. It looks like your error on macOS has the same cause: the yaml-cpp library needs to be specified in the linker flags.

Adding yaml-cpp to the shared libraries in the SConstruct file, as it is also done for system sundials, works fine for me on Linux:

[code]

[2019-07-22 23:01] bryanwweber commented on #668
Ok, that seems like the right fix. Can you put together a pull request? If you do, can you use `.append('yaml-cpp')` instead of `.extend(...)`?

[2019-08-01 19:37] #638 closed, assigned to nobody

[2019-08-01 22:10] #668 closed, assigned to nobody

[2019-08-05 01:40] ischoegl opened #675 "Inconsistent parameter names in equilibrate"
### Cantera version

2.5.0a3

### Operating System

all

### Python/MATLAB version

Python 3.6

### Expected Behavior

Calling `equilibrate` for `ThermoPhase` or `Mixture` objects should use consistent parameter names.

### Actual Behavior

`ThermoPhase.equilibrate` takes `maxsteps`, `maxiter` and `loglevel`, whereas `Mixture.equilibrate` takes `max_steps`, `max_iter` and `log_level`. For consiste

[2019-08-05 18:09] #313 closed, assigned to nobody

[2019-08-05 18:18] sameshl commented on #675
I would like to work on this. @bryanwweber should I deprecate `maxsteps` or `max_steps`?

[2019-08-05 18:29] ischoegl commented on #675
My thoughts on this are that `ThermoPhase.equilibrate` is probably being used more commonly, i.e. less existing code will be affected if the parameters are changed from `max_steps` to `maxsteps`. Also, a `DeprecationWarning` should be raised.

[2019-08-05 18:39] ischoegl commented on #669
Python 2 EOL is January 1st, 2020. What is cantera's perspective for Python 2 support beyond this date?

[2019-08-05 18:50] sameshl commented on #675
@ischoegl Cool. Will make that change

[2019-08-05 18:57] speth commented on #675
I would agree that `ThermoPhase.equilibrate` is probably more frequently used. However, I doubt that these arguments are used very often.

I think the names with the underscores are more in accordance with [PEP8](https://www.python.org/dev/peps/pep-0008/), so there is an argument for that set of names.

[2019-08-05 21:01] #666 closed, assigned to nobody

[2019-08-05 21:13] bryanwweber commented on #669
For the Python interface, 2.4.x will be the last release to support Python 2. We are attempting to keep the build script Python 2 compatible for the foreseeable future, so that, e.g., `apt install scons` and `scons build` will "just work". It's still under discussion, but I'm pretty sure the fix to this issue and #662 is going to be to check the YAML input files into the repository. Before we do t

[2019-08-05 21:59] ischoegl commented on #669
@bryanwweber ... thanks for the clarification. From a user perspective, being forced to consistently use Python 3 may have some advantages: a meaningful error message would avoid quite a bit of confusion (e.g. user forum questions). From what I can gather, a recent scons version is all that is required?

[2019-08-05 23:33] bryanwweber commented on #669
I'm not sure what you're asking... Basically, since the default system Python is likely to be Python 2 on many of the platforms we support, and we want SCons to be able to use that Python, we are trying to keep the build process Python 2 compatible. However, the *2yaml scripts require Python 3 as noted here. Thus, if the YAML files are checked into the repository, the conversion won't be necessary

[2019-08-06 01:56] #670 closed, assigned to nobody

[2019-08-06 02:32] ischoegl commented on #669
The question was probably rhetorical. It boils down to eliminating a choice of `python_cmd` defaulting to Python 2 for the scons configuration, i.e.
[code]
which instead should simply enforce a Python 3 interpreter. This would cut down on the periodic question/confusion on the user forum, and would presumably make maintenance easier (this issue is a case in point). Imho there isn't much of a point

[2019-08-06 13:40] uqyge opened #678 "won't work with dask"
### Cantera version
2.4
### Operating System
ubuntu
### Python/MATLAB version
python
### Expected Behavior
parallel with dask
### Actual Behavior
TypeError: no default __reduce__ due to non-trivial __cinit__
### Steps to reproduce
1.
2.
3.

[2019-08-06 13:56] bryanwweber commented on #678
Hi, can you please provide a complete script/steps to reproduce and the full error message in your post. Thank you.

[2019-08-06 13:57] uqyge commented on #678
thanks for the quick response. I do it now.

On Tue, Aug 6, 2019 at 3:56 PM Bryan W. Weber <notifications@github.com>
wrote:

[2019-08-06 14:02] uqyge commented on #678
[code]

[2019-08-06 14:05] uqyge commented on #678
[code]

[2019-08-06 14:07] ischoegl commented on #678
The call
[code]
hints at the fact that this may fail as cantera objects are not picklable?

[2019-08-06 14:07] uqyge commented on #678
I'm following the flamelet_batch.py tutorial and trying to create a parallel version with dask with no success. Right now I am using the multiprocessing package with python as a workaround, But I am limited to use only the cpu on my machine.

[2019-08-06 14:12] ischoegl commented on #678
I haven't worked with dask, but my own tests with multiprocessing required the cantera objects to be initialized by workers. I.e. it fails where you start the loop
[code]
Try initializing the Sim1D objects within flamelet_gen instead ...

[2019-08-06 14:14] ischoegl commented on #678
For further reading, see #570

[2019-08-06 14:25] bryanwweber commented on #669
OK, I see what you're saying. I don't remember whether or not the check for `python_cmd` enforces Python 3, but it probably should if it doesn't. And Python 2 only being present shouldn't trigger building the Python interface.

Regardless, I don't think it makes sense for users to have to install Python 3 on their systems, since we want to support building just the C/C++/Fortran/MATLAB interfaces

[2019-08-06 15:21] speth commented on #678
Indeed, there is no expectation that Cantera objects are pickleable, and even if they were, I suspect this would be an inefficient way of implementing parallelism with Cantera. I think the User's Group would be a better place to have a discussion of how to use Cantera in a parallel Python program.

[2019-08-06 17:29] ischoegl opened #679 "[Enhancement] Add HDF output for SolutionArray objects"
### Cantera version

2.5.0a3

### Operating System

All

### Python/MATLAB version

Python 3

### Expected Behavior

The Python-exclusive `SolutionArray` object should include options for efficient storage. HDF is widely used, offers compression, and allows for storage of multiple data sets in a single file.

### Actual Behavior

Currently, only output to CSV is provided (`cantera.SolutionArray.wr

[2019-08-07 09:53] sameshl commented on #675
I would like to take this up, but can you explain how to use `DeprecationWarning` for keyword arguments?

[2019-08-07 12:19] ischoegl commented on #675
A fix is straightforward: rename parameters and add `**kwargs` to the argument list. Then, check for old parameter names in this dictionary ... if one is found, reassign and use the `warnings` module. I added some `DeprecationWarnings` in `reactor.pyx` recently. This shouldn’t take more than a couple of lines.

[2019-08-07 12:34] sameshl commented on #675
@ischoegl Thanks for the explanation. Will make the required change

[2019-08-08 01:36] ghost opened #683 "Inconsistency between TROE formula and code when T** is zero."
### Cantera version
2.3.0
### Operating System
Linux Ubuntu18.04 64bit
### Python/MATLAB version
3.7
### Expected Behavior

When T** is not given, the default value is 0.0, as description in https://cantera.org/science/reactions.html . Then the last term exp(-T**/T) ==1

### Actual Behavior

When T** is not given, the last term exp(-T**/T) is ignored so this term is actually zero.

### Steps to re

[2019-08-08 03:42] ischoegl commented on #543
#679 and #680 seek to add HDF output via pandas. Implementing the reverse is straightforward, which may be a way to introduce this missing feature. If set up properly, CSV import can use almost identical machinery.

[2019-08-09 19:15] #650 closed, assigned to nobody

[2019-08-09 21:39] #604 closed, assigned to nobody

[2019-08-09 22:08] #620 closed, assigned to nobody

[2019-08-10 02:49] ischoegl commented on #625
In my PR I did not implement sorting for higher-dimensional `SolutionArray` objects as a good definition is not obvious to me (it *is* possible, but I cannot think of a good reason).

It is true that 1D and higher dimensional `SolutionArray` object are implemented differently. My suspicion is that the rationale for this implementation is that in 1D memory can be accessed directly, whereas in highe

[2019-08-10 18:40] ischoegl commented on #336
The issue appears to have carried over to the new YAML interface (which presumably bypasses XML).
[code]
The `gri30.yaml` file doesn't specify the reference pressure, but it should nevertheless default to 100000 Pa, correct?

[2019-08-10 19:05] speth commented on #336
Despite what I wrote in the initial issue report, I think the fact that Chemkin and at least some mechanism authors take 1 atm as the reference pressure means that Cantera should use that to. So, this is working as expected for `gri30.yaml`. The difference is that if you create a `.yaml` file and specify a different reference pressure, it should be reflected after importing.

I had been regarding

[2019-08-11 19:36] ischoegl commented on #621
Looks like @bryanwweber's second suggestion is correct: it appears to be a case of the CTI parser not being case sensitive when it comes to species names.

The following is a minimum cti file that reproduces the behavior. If one of the species `CS` or `Cs` is deleted, the import works.
[code]

[2019-08-11 19:45] ischoegl commented on #621
FYI: the new yaml parser raises the same exception with the following input:
[code]

[2019-08-11 19:56] ischoegl commented on #621
PS: cti/yaml parsers not enforcing case sensitivity is certainly a *convenient* work-around that accommodates preferences for uppercase/lowercase species names by individual kinetics groups.

A feasible fix would be to add an option for `case_sensitive=True` (with default being `False`) to the CTI/YAML importers. Imho, a uppercase/lowercase mismatch should trigger a warning.

[2019-08-11 22:20] ischoegl commented on #621
PPS: a fix of this issue would involve a less widespread use of
[code]
A quick test for disabling `ba::to_lower_copy` wreaks havoc for the cti parser, but resolves the issue for yaml:
[code]
On second thought, I cannot think of a good reason to not enforce case sensitivity for the importers. I believe there is a case to be less restrictive for, e.g.
[code]
(both of which work using the current phi

[2019-08-13 14:24] ischoegl opened #691 "Incorrect Solution.ID for YAML generated objects"
### Cantera version

2.5.0a3

### Python version

3.6

### Expected Behavior

`gas.ID` should provide the ID of the phase, with the default being taken from the input file. I.e.

[code]
should be `nDodecane_RK`. I.e. the result should be identical to the one obtained if one were to import the CTI file. Explicitly specifying the phase (i.e. `nDodecane_RK` or `nDodecane_IG`) will not change the beha

[2019-08-13 15:08] bryanwweber commented on #678
@uqyge Can you please ask this question on the Google User's Group (https://groups.google.com/forum/#!forum/cantera-users)? I also think this is a duplicate of #570 as @ischoegl mentioned, so I'll be closing it. Please feel free to reply if you disagree. Thanks!

[2019-08-13 15:08] #678 closed, assigned to nobody

[2019-08-13 15:20] bryanwweber commented on #683
@chengdi123000 Can you reproduce this behavior with the master branch?

[2019-08-13 15:32] #679 closed, assigned to nobody

[2019-08-13 15:33] #665 closed, assigned to nobody

[2019-08-13 15:36] uqyge commented on #678
thanks for all the help and please close the issue.

[2019-08-13 16:46] speth commented on #683
I don't think there are any relevant changes here between Cantera 2.3.0 and the current master branch.

There are two cases here, both of which have some issues. However, I have concerns with the validity of 0 or near-zero values for T**. The original paper by Troe states that "F<sub>cent</sub> decreases from F<sub>cent</sub> = 1 at 0 K with increasing temperatures, before it increases at very hig

[2019-08-15 22:22] ischoegl opened #695 "Question: equivalent of composite Python classes in C++"
### Cantera version

2.5.0a3

### Expected Behavior

It would be useful to have C++ equivalents of composite classes that are defined in Python (i.e. `Solution`, `Interface`, etc.). A replication of those classes would clarify origin and structure of thermo/kinetics/transport managers that are instantiated from the Python composite class (the same holds true for Matlab).

This *does not mean the r

[2019-08-15 22:38] speth commented on #695
I've thought about this before, and while it would have some convenience, I feel like it would be extremely ugly -- there are over 300 methods to wrap among the `Phase`, `ThermoPhase`, `Kinetics`, and `Transport` classes.

I'm not sure I see what the problem is with serialization that requires this feature. I think all that is required is that the method which generates a complete phase definition

[2019-08-15 22:52] ischoegl commented on #695
There may be other ways to instantiate, but at least from Python there are only 3 classes: `Solution`, `Interface` and `DustyGas`. A suitable C++ class structure would have a base class, and three derived classes, with almost everything overloaded. I.e. it would be light-weight and hold the information together. __Edit:__ I am not suggesting to wrap any methods; the only methods that are worth imp

[2019-08-15 23:07] ischoegl commented on #695
Case in point: consider `extract_submechanism.py`
[code]
It may be useful to write the mechanism back to yaml without having to 'glue' the file together in python?

[2019-08-15 23:15] speth commented on #695
So you're thinking of a structure that just exposes the related `ThermoPhase`, `Kinetics` and `Transport` objects, rather than combining all of the methods the way the Python `Solution` class does? I can see that as providing a convenient way to instantiate all of the pieces of a phase. Something like:
[code]
A similar structure for `Interface` objects would certainly simplify instantiation of tho

[2019-08-15 23:52] ischoegl commented on #695
Almost, but I wouldn't even bother with loading the file there (I'd still use the existing approach. EDIT: I guess that is debatable as your thought may clarify things quite a bit). Also, apologies that my function signatures are likely incorrect (not using smart pointers much). I'm mostly Python ...
[code]
PS: An alternative would be not set anything in the constructor and write setters for the m

[2019-08-16 00:02] ischoegl commented on #695
And obviously I forgot the signature for a function `std::string toYAML()` ... :rofl:

[2019-08-16 00:22] speth commented on #695
Oh, I see - you're after a way of writing a function that can instantiate a YAML phase entry without knowing whether it is for a `Solution` or an `Interface` (I'd leave `DustyGas` out of this for the moment -- it's kind of a wart already in that there's no way of instantiating it from an input file at all).

If the only polymorphic behavior is the return value of `type`, though, you don't really n

[2019-08-16 00:40] ischoegl commented on #695
Yes, that pretty much is what I had in mind. You’re correct that polymorphism may not be required at all. I’d have to code things up ... things have a tendency to clear up in this process ...

[2019-08-16 03:56] ischoegl commented on #695
Looks like the name of `Composite` should really be `SolutionBase`. The diamond inheritance in Python cannot be avoided as Cython doesn’t allow for multiple inheritance.

[2019-08-16 14:49] ischoegl commented on #695
@speth ... coding things up *did* clarify things as anticipated. Feel free to comment on #696 ...

I also left a stub for your suggestion
[code]
as I believe that it would be a logical (but *not* necessary) next step.

[2019-08-17 15:12] shenghuiqin opened #697 "CanteraError thrown by CVodesIntegrator::step: CVodes error encountered. Error code: -3"
### Cantera version: 2.4

### Operating System: linux

### Python/MATLAB version: python3.7

### I got the CVodes error, and go back to change corresponding temperature (eg, error point is at Temperature=823.2, I changed it into T=823), and the problem solved
 * need to mention, I have a series T to do simulation, [999.45, 929.5, 882.31, 823.2, 744.24], but only the datapoint T=823.2 got the error

[2019-08-17 17:07] ischoegl commented on #697
Without knowing further details, it is quite difficult to figure out the context of this error (i.e. provide a test script, etc.). I'd also encourage you to ask on [Cantera's user group](https://groups.google.com/forum/#!forum/cantera-users) first, and post a specific issue here only once the exact cause is identified.

PS: with regard to your note about debugging, there may be a point of converti

[2019-08-17 17:58] shenghuiqin commented on #697
thanks for your advice

[2019-08-17 17:58] #697 closed, assigned to nobody

[2019-08-17 18:18] ischoegl commented on #697
It may make sense to post a specific issue regarding the CVodes error code conversion as a Feature request. Regarding the user group, it gets more traffic than the issue tracker ...

[2019-08-17 18:45] ischoegl opened #698 "Update issue templates"
The Github repo uses an [old version of issue templates](https://github.com/Cantera/cantera/blob/master/ISSUE_TEMPLATE.md). The new [issue template workflow](https://help.github.com/en/articles/about-issue-and-pull-request-templates) appears to allow for differentiation of __Bug Reports__ and __Feature Request__ (potentially more).

There also is a [SUPPORT file](https://help.github.com/en/article

[2019-08-19 03:11] ghost commented on #683
I agree with @speth

In some mechanism in chemkin's format, the `T**` is assigned a very large negative number such as `-10e30` to ensure the last term `exp(T**/T)` is essentially zero.

I think keeping consistency with CHEMKIN and modifying the description in document is the best approach to resolve this issue.

FYI, here is the description of TROE coefficients in Input Manual of CHEMKIN in ANSYS

[2019-08-20 19:14] bryanwweber commented on #698
@ischoegl any reason to close this?

[2019-08-21 05:17] band-a-prend commented on #662
I recently tried to build cantera from git archive (>1 month old archive) and build process continued after several errors `ModuleNotFoundError` without `ruamel-yaml` package installed within local build environment. But the build process failed in gentoo package build environment after first such error. I.e. the `ruamel-yaml` and  the `numpy` packages are mandatory during build process even if us

[2019-08-21 21:33] Austin-Bell269 opened #702 "scons: *** [build\src\base\AnyMap.o] Error 1"
### Cantera version
2.5.0a3

### Operating System
Anaconda

### Python/MATLAB version
3.7.4

### Expected Behavior
AnyMap.o would build

### Actual Behavior
scons: *** [build\src\base\AnyMap.o] Error 1
scons: building terminated because of errors

### Steps to reproduce
1. I followed these steps "https://github.com/ischoegl/cantera-toolchain/blob/master/win10-conda-VS.md#create-a-conda-environment

[2019-08-21 21:58] ischoegl commented on #702
What Windows / Visual Studio version are you using? Also, please attach a more complete log (cut and paste into a file and attach), so it's clear what actually caused the compilation error.

[2019-08-21 22:22] Austin-Bell269 commented on #702
I am using windows 10, as well as visual studio 2019. I apologize I don't know what you mean by a log. What I did was get to the scons build stage and finally got passed the boost file error I previously talked to you about. but after this build error occurred. I have attached what the screen looks like.
![Screenshot (145)](https://user-images.githubusercontent.com/52332777/63472551-62b04a80-c427-

[2019-08-21 22:25] Austin-Bell269 commented on #702
by the way, the error message is at the bottom.

[2019-08-21 22:38] Austin-Bell269 commented on #702
I created a list of the exact steps I have taken and attached it here. sorry for the barrage of messages.
[Steps I have taken to get Cantera to run so far.docx](https://github.com/Cantera/cantera/files/3527609/Steps.I.have.taken.to.get.Cantera.to.run.so.far.docx)

[2019-08-21 22:39] ischoegl commented on #702
ok. that's at the very beginning, which points at some small step you may have missed (or may not have been clear in my instructions): it is essential that you locate the *equivalent* of
[code]
(it may be slightly different on your system), and, - after creating the environment, - to activate it.

Based on what you posted, I don't think that there is an issue with scons (or cantera), and thus this

[2019-08-21 22:48] Austin-Bell269 commented on #702
I have looked for that file and the file address is the same as yours. when I used that command with that address it ran fine. it was not until I tried to do the "scons build" command after accessing the cantera-dev environment. That is where that error had occured . I have attached the config.log file here lol thanks
[file C.docx](https://github.com/Cantera/cantera/files/3527631/file.C.docx)

[2019-08-21 23:02] ischoegl commented on #702
Boost is missing from your environment. Did you have it in your setup, i.e.
[code]
Also, as mentioned, the issue tracker is probably not the right venue ...

[2019-08-21 23:10] ischoegl commented on #698
Just looked into this on another repo. This is what the default templates look like ... [commit containing template defaults](https://github.com/ischoegl/cantera-toolchain/pull/1/commits/228b3ca041203f87df6a0f6516cef8e1b7224228). The SUPPORT.md file is also straight-forward.

~~It probably needs to be set up by someone having access to the repo settings though (there are some switches that aren't

[2019-08-21 23:14] Austin-Bell269 commented on #702
I posted in the cantera group chat on google. it will pop up in a while, I will talk more over there. I did use that though and was able to get the environment. I will try it again though

[2019-08-21 23:16] ischoegl commented on #702
:+1:

[2019-08-22 00:54] bryanwweber commented on #702
@Austin-Bell269 can you please repost your message to the Google Group where you copy the terminal output text either directly into the post or into a text file attached to the post? There are a couple of reasons for this, the biggest one being that text in images can't be found in a search, so the next person who has this problem has to ask the same question. Also, visually impaired folks can't r

[2019-08-22 17:20] Austin-Bell269 commented on #702
ok I apologize I will post again

On Wed, Aug 21, 2019 at 5:54 PM Bryan W. Weber <notifications@github.com>
wrote:

[2019-08-29 19:43] shenghuiqin commented on #697
I follow this instruction :
https://groups.google.com/forum/#!searchin/cantera-users/https$3A$2F$2Fgithub.com$2FCantera$2Fncm-2019-materials$2Fblob$2Fmaster$2Fthermo_debugging.ipynb%7Csort:date/cantera-users/9kA7C5GJ-qs/BUyBPtC3BAAJ
using this tool (https://groups.google.com/forum/#!searchin/cantera-users/https$3A$2F$2Fgithub.com$2FCantera$2Fncm-2019-materials$2Fblob$2Fmaster$2Fthermo_debugging.ip

[2019-09-10 12:36] bryanwweber opened #703 "Problems with code coverage"
### Steps to reproduce
1. Open a pull request
2. Push commits multiple times
3. Coverage changes on files that weren't modified in the pull request

This seems to be a problem with the file `src/transport/GasTransport.cpp`. It is not clear why the coverage should be changing in this file. We should look at what is changing and try to fix either the test suite or the code to resolve this issue.

[2019-09-10 12:37] bryanwweber commented on #703
The comments here https://github.com/Cantera/cantera/pull/693#issuecomment-529120245 are a good example of what can happen

[2019-09-13 13:28] speth opened #705 "Python SpeciesThermo wrapper classes missing for NASA9 and piecewise Gibbs (Mu0Poly)"
In `speciesthermo.pyx`, wrapper classes are defined for the most commonly used species thermo models (`NasaPoly2`, `ShomatePoly2`, and `ConstantCp`) but not for the other available models (`Nasa9PolyMultiTempRegion` and `Mu0Poly`).

[2019-09-13 21:20] speth commented on #703
The change in coverage that's being reported is in `GasTransport::getMixDiffCoeffsMole`:

[code]

Where the conditional is apparently reached 10 times in the test suite, and the predicate is reached either 0 or 1 time. What's strange is that I can only find two calls to `getMixDiffCoeffsMole` (or the Python property `mix_diff_coeffs_mole`) in the test suite. These occur in the Python test `TestTra

[2019-09-13 21:28] #702 closed, assigned to nobody

[2019-09-16 02:28] speth commented on #697
For what it's worth, the error messages already contain the translation of the error code to (more or less) human readable form. For instance, in the error:
[code]

The error code of -3 corresponds to "At t = xxxxx and h = yyyyy, the error test failed repeatedly or with |h| = hmin.".

[2019-09-19 17:34] speth opened #710 "Improve error message when prefix is set to the source directory"
### Cantera version
2.4.0 and master

### Expected Behavior
Trying to run `scons install` when `prefix` is set to the same directory as the source code should produce an error message that indicates that this is the problem.

### Actual Behavior
Build fails with the confusing error:
[code]

See reported installation problems in this Users' Group post: https://groups.google.com/forum/?fromgroups=#!

[2019-09-21 14:20] ischoegl commented on #705
PR #711 adds the wrappers (plus a missing C++ constructor).

[2019-09-22 18:38] jiweiqi opened #713 "Different from official gri30 mechanism"
Hi,

It seems that the gri30 mechanism shipped by Cantera is different from the official one at

[gri30](http://combustion.berkeley.edu/gri-mech/version30/files30/grimech30.dat)

in terms of reaction 296/297. The pre-factor A have been multiplied by two in Cantera version. Any idea?

https://github.com/Cantera/cantera/blob/265a1860cc6d7e2f7dbdbe2128aac585d85c9f7d/data/inputs/gri30.cti#L2016-L2021

[2019-09-22 19:56] bryanwweber commented on #713
The CTI file is generated from the corresponding `gri30.inp` file. In our repository, the `.inp` file has the date `GRI-Mech Version 3.0 3/12/99`, whereas the online version is `GRI-Mech Version 3.0 7/30/99`. So, it is not surprising that there is some difference. The question remains what, if anything, should be done about this. Do these reactions change some results in some cases?

[2019-09-23 00:22] jiweiqi commented on #713
The effect is indeed dependent on the applications. Since gri30 is frequently involved in various demonstrations, in my opinion, it might be better to keep it consistent with the latest version.

[2019-09-23 01:04] bryanwweber commented on #713
Did you just happen to notice this, or was the difference important for an application you were using? I'm asking because if we silently change the mechanism (even with an announcement in the release notes) and it will change people's results, we should be aware of that and inform everyone.

[2019-09-23 01:35] jiweiqi commented on #713
I just happen to notice this. I am doing some uncertainty quantification work, in which I have to manually modify the .cti files for other codes. When verifying the pipeline, I noticed this difference.

For now, I do not know the situation where this could make a difference.

I guess, do some tests on ignition delay time and laminar flame speed calculations will figure out the difference.

[2019-09-24 01:53] #621 closed, assigned to nobody

[2019-10-01 17:40] ischoegl commented on #390
I had a look at this, and it appears somewhat murky (unless I am overlooking something). In the current implementation, C uses $\rho/W_{mean}$, where $W_{mean}$ (aka `m_mmw`) implicitly assumes that the mass fractions sum up to unity, i.e.
[code]
in `setMoleFractions_NoNorm` (or the less straight-forward version in `setMassFractions_NoNorm`)

The suggested solution would require that C is known, w

[2019-10-01 18:05] ischoegl opened #715 "Changed phase names (CTI/XML vs. YAML)"
### Cantera version

2.5.0a3

### Operating System / Python/MATLAB version

all

### Expected Behavior

Phase names of standard input data remain unaffected by the transition from CTI/XML to YAML

### Actual Behavior

Phase names change, e.g.

[code]
... which is obviously caused due to `ohmech` being replaced by a default phase name `gas`.

The same is true for `gri30.cti` (with phases `gri30`/`g

[2019-10-01 20:55] rwest opened #717 "Nothing to check or ensure that Sticking Coefficients are in the range [0,1]"
### Summary
Cantera doesn't check or ensure that Sticking Coefficients are in the range [0,1].

The documentation both at
at https://cantera.github.io/docs/sphinx/html/cti/reactions.html#sticking-coefficients
and https://cantera.org/science/reactions.html#sticking-coefficients
states

but the code does nothing to enforce or check this.

### Cantera version
2.3.0 (and earlier)

### Operating System

[2019-10-02 12:48] ischoegl commented on #713
I agree that cantera should be consistent with the latest online version. Regarding potentially different results, I am not sure whether it is *extremely* relevant, as I do not believe that GRI3.0 is necessarily state of the art any longer (rather: a historic benchmark).

[2019-10-02 16:08] bryanwweber commented on #713
One thing that I wanted to do as part of #653 (updating CODATA and element weights) was run a benchmark suite of common calculations (flame speeds, ignition delays, maybe some echem calculations) to see what differences were generated and by how much for these common global parameters. I never got around to it, mostly because 1) I wasn't sure which metrics would be useful and 2) I'd have to write

[2019-10-02 20:00] ischoegl commented on #713
I think it's a reasonable suggestion, but imho the important thing is to have unit tests in place that prevent major surprises that are difficult to troubleshoot. That said, I believe this deserves a separate issue :wink:

[2019-10-03 02:16] #543 closed, assigned to nobody

[2019-10-05 17:08] bryanwweber opened #721 "Setting the state of PureLiquidWater with T,P raises a CanteraError"
### Cantera version
2.5.0a3

### Operating System
macOS, but probably not specific

### Python/MATLAB version
3.7, but probably not specific

### Expected Behavior
Setting the state of `PureLiquidWater` with T, P works when going from gas to liquid states

### Actual Behavior
Setting the state of `PureLiquidWater` with T, P raises a `CanteraError` when going from gas to liquid states

### Steps to

[2019-10-06 15:40] bryanwweber commented on #721
As it turns out, handling this error in a coherent manner is about one step beyond where I feel comfortable at the moment. I looked into fixing this, but I don't really understand what is going on in the class. A few notes for future investigators:

1) The `WaterSSTP` phase, as implied by the name in the XML file (`PureLiquidWater`), is intended to represent only the liquid states of water. It is

[2019-10-06 15:53] bryanwweber commented on #721
Also, there's this bit from `WaterSSTP.h`:
https://github.com/Cantera/cantera/blob/fe7be79552433c3779ffbd5b018a493114fffdbc/include/cantera/thermo/WaterSSTP.h#L277-L283

which is initialized to `false` and then never checked again.

[2019-10-06 15:56] ischoegl commented on #721
I believe that Cantera/enhancements#6 deserves additional thoughts :wink:

[2019-10-08 18:17] ischoegl opened #727 "Allow phase look-up in Mixtures by both name and phase id"
### Cantera version
all

### Operating System
all

### Python/MATLAB version
Python

### Expected Behavior
The index of a phase ('Solution') within mixtures can be identified either by `name` or `ID`
(using the `Mixture.phase_index` method)

### Actual Behavior
`Mixture.phase_index` currently requires `name`.

[2019-10-10 01:55] #727 closed, assigned to nobody

[2019-10-10 01:57] ischoegl commented on #727
Not needed if `Phase::id` is deprecated after #696 and #724

[2019-10-14 12:34] sajit5678 opened #728 "AttributeError: 'cantera._cantera.Valve' object has no attribute 'set_time_function'"
### Cantera version
'2.3.0'
### Operating System
Windows7
### Python/MATLAB version
Python
### Expected Behavior

### Actual Behavior

### Steps to reproduce
1.
2.
3.

[2019-10-14 13:34] bryanwweber commented on #728
Hi, thanks for posting here. Can you please fill out the rest of the suggested template, especially the part asking for the steps to reproduce this error?

[2019-10-14 17:34] ischoegl commented on #728
Could it be that this error occurs for the example posted here: [https://cantera.org/examples/python/reactors/ic_engine.py.html](https://cantera.org/examples/python/reactors/ic_engine.py.html)?

[2019-10-14 17:42] sajit5678 commented on #728
Yes this is the example.
Also, another error is:
`inlet_valve.valve_coeff = inlet_valve_coeff`
gives AttributeError: 'cantera._cantera.Valve' object has no attribute 'valve_coeff'
If valve_coeff is set like this
`inlet_valve.set_valve_coeff(inlet_valve_coeff)` , it works

[2019-10-14 17:44] ischoegl commented on #728
This example requires a newer version of cantera (development version, I.e. v2.5a3). Please use the version that comes with your installation (v2.3) instead.

[2019-10-14 17:58] sajit5678 commented on #728
@ischoegl Thank you very much for your time and advice.

[2019-10-14 18:11] ischoegl commented on #728
You’re welcome.

[2019-10-14 19:44] bryanwweber commented on #728
Hmmm I guess we never sorted out how we wanted to handle this on the website side of things. Guess we'd better do that... Related to Cantera/cantera-website#86

[2019-10-14 19:44] bryanwweber commented on #728
Thank you @ischoegl for helping out here!

[2019-10-14 20:48] ischoegl commented on #728
@bryanwweber ... no problem. Yes, I think you had anticipated version conflicts as a potential issue. I believe that simply adding a version dependence to the example description may be an effective precaution (already added a PR towards that end).

[2019-10-19 18:09] mjrahimi opened #730 "Heat flux through the wall is not working for certain conditions"
### Cantera version
2.4.0
### Operating System
macOS
### Python/MATLAB version
3.7.2
### Expected Behavior
The heat flux function defined for the wall should transfer heat from reactor 1 to reactor 2. Therefore increasing the temperature in reactor 2.
### Actual Behavior
The temperature does not change for any of the reactors.
### Steps to reproduce
[code]

![fig1](https://user-images.githubuserco

[2019-10-19 19:06] bryanwweber commented on #730
Hi! Thanks for this report. We'll investigate and let you know if we have any further questions.

[2019-10-22 12:12] ischoegl commented on #730
Since there aren't any changes in your network, the integrator that solves the 0D network starts to take large time steps, thus missing the timed heat transfer function you implemented. Adding this
[code]
after the creation of the network should fix things for you (I tested this on the development branch of cantera, but do not expect any difference for 2.4).

I.e. the only issue that may remain is

[2019-10-22 16:32] mjrahimi commented on #730
Thanks @ischoegl. That worked for me as well. I think the ReactorNet max_time_step should not exceed the sim.advance(time) marching steps. May be helpful to internally force that limitation.

[2019-10-22 17:23] ischoegl commented on #730
The current implementation reinitializes the system every time `max_time_step` is changed. I haven't looked beyond `ReactorNet::setMaxStep`, but I am afraid that continuously enforcing step size may interfere with the inner workings of CVODE. Imho, not letting the time step grow arbitrarily large (which is the current default behavior) may be sufficient.

[2019-10-23 03:03] ischoegl commented on #730
per @bryanwweber's comment in #731

I agree that this rationale for leaving the behavior as is is sound.

[2019-10-23 17:45] #691 closed, assigned to nobody

[2019-10-23 17:45] #695 closed, assigned to nobody

[2019-10-23 17:53] #705 closed, assigned to nobody

[2019-10-24 01:39] #715 closed, assigned to nobody

[2019-10-25 00:31] #730 closed, assigned to nobody

[2019-10-25 19:06] #625 closed, assigned to nobody

[2019-10-28 17:12] ischoegl opened #736 "Deprecate all instances of `gri30_mix` and `gri30_multi`"
### Cantera version
2.5.0a3

### Operating System / Python/MATLAB version
all

### Expected Behavior
The `gri30_mix` and `gri30_multi` phases are deprecated and are not part of all `gri30.yaml` versions (the version in `test/work/python` defines those, the default version does not). For consistency, all instances should be removed for 2.5, as the transport model can be specified using a flag. I.e.

[2019-10-29 20:59] ischoegl commented on #736
All occurrences of `gri30_mix` and `gri30_multi` within cantera itself are eliminated in ~#735~ #737 (except for XML/CTI/YAML files). The issue of usage in existing user code remains.

[2019-10-30 01:00] #713 closed, assigned to nobody

[2019-10-30 01:25] speth commented on #736
My opinion, which I acknowledge may differ from the expectations of some users, is that the input files that come with Cantera should mostly be regarded as examples, not a source of data to be used as the basis of applications built for scientific or engineering purposes. As such, I don't think that there should be an expectation that the phase names in these files is part of Cantera's stable API,

[2019-10-30 01:53] bryanwweber commented on #736
@speth  I disagree with the following statement (recognizing that you acknowledged that your opinion my differ):

If these files were not intended as data, why are they in a folder called `data`? In any case, the cat is out of the bag now for GRI-3.0, and yes, people shouldn't use that for real simulations, and yes, there are other ways to specify this information, but in this case I come down ver

[2019-10-30 02:14] ischoegl commented on #736
@bryanwweber ... I agree with you with regard of not breaking code, but I also agree that the imho superfluous phase definitions should be phased out (except for what `transport_manager` is used as the default).

My suggested solution would be to simply catch the `gri30_mix` and `gri30_multi` phase labels in the C++ layer (YAML parser only), issue a `DeprecationWarning`, and change the transport m

[2019-10-30 02:43] bryanwweber commented on #736
But if I'm interpreting what @speth said correctly, the phase specification is not superfluous and indeed preferred, i.e.

[2019-10-30 02:52] ischoegl commented on #736
True. I guess I meant to say that duplicate phase definitions are superfluous (sorry). I am essentially assuming that going forward, most YAML files will use the
[code]
setting as the default.

For `gri30`, the historical differentiation really only pertains to those lines, hence my suggestion to catch the `_mix` and `_multi` suffixes internally until they can be phased out.

[2019-10-30 03:01] decaluwe commented on #736
But if we view the purpose of these cti files as providing examples, I think this provides a clear example of how one can vary the transport model for a given thermodynamic and chemical phase definition, from within the input file. The page definition itself is superfluous, but one could say that about gri-3.0, in general. It’s not the phase definition that is the resource, but the example of how

[2019-10-30 03:12] ischoegl commented on #736
My biggest hangup about this is that multiple phase definitions are only differentiated by a single entry. Yet, they need to be *hand-coded* (i.e. generate a YAML file using `ck2yaml`, and then edit).

I believe that letting users know that the `transport_model` flag is all they need may be more instructive overall. A `FutureWarning` without immediate deprecation would be an adequate solution?

[2019-10-30 03:28] ischoegl commented on #736
@decaluwe ... regarding CTI files, this may be pretty discipline specific. If you're only dealing with gas phase kinetics (like myself), there isn't much of a reason to ever open the CTI/XML or YAML files that are generated from chemkin input. If you're looking at other thermo phases, there's a lot more reason to look at (and edit) input files.

From my perspective, I have never viewed the CTI (or

[2019-10-30 03:30] speth commented on #736
Given the multiple issues that have cropped up with errors in `gri30.cti`, I would prefer the `gri30.yaml` file that we include to be exactly what is generated by `ck2yaml`, even if we don't continue to generate it on the fly [in order to simplify the requirements for the build environment].

I often find that the fact that the default phase for `gri30.cti` doesn't specify a transport model to be

[2019-10-30 03:49] speth commented on #736
Also, I'd like to point out that there's no case here where code silently goes from working to not working. Errors associated with `gri30_mix` and `gri30_multi` not being defined in `gri30.yaml` will only occur when updating code to replace use of `gri30.cti` and `gri30.xml` (which will eventually emit warnings when those two formats are deprecated).

[2019-10-30 11:59] decaluwe commented on #736
For the record, the point I was making was not about “demonstrating the creation of multiple, slightly diff phase definitions in a single file,” but rather “demonstrating, in a single file, the creation of of phase definitions with varying transport models.” I.e., my suggestion wasn’t that the example teaches users to create multiple instances of the same phase, only with different transport model

[2019-10-30 12:47] bryanwweber commented on #736
I guess I'm in the minority here...

It seems like the consensus is that users should _not_ use the `transport` field of the phase definition (in the YAML input file) to specify the transport model, and instead the `transport_model` kwarg to the Python `Solution` class (and similar arguments for other interfaces) is the preferred method. Is that the consensus? If so, why is that the preference?

T

[2019-10-30 13:18] ischoegl commented on #736
I'll stay out of the rationale of what exact YAML version is distributed, but do have a preference for the one generated by default (i.e. `ck2yaml` output; also, I'd actually suggest keeping the original inputs so anyone can easily verify that they're unmodified). I.e. I'm with @speth on this one.

However, I think that the introduction of an entirely new format can bring some changes, which imho

[2019-10-30 15:09] ischoegl commented on #736
@bryanwweber

The way I interpret this, the `transport` field should hold the *default* behavior (over-ridden by the `transport_model` kwarg), which can be later changed to whatever a user should prefer (see free flame calculations, which start out as `Mix` and then switch over to `Multi`). I.e. the current behavior (naming convention)
[code]
is imho not consistent.

[2019-10-31 22:45] speth commented on #736
It's not that I think the `transport` field shouldn't be used in general, it's that I think multiple phase definitions is a bad way to select from among a set of possible models that work with the given phase (should we also add a phase definition for `gri30_unity_lewis`?).

I mainly want to get rid of the `gri30_mix` and `gri30_multi` phase definitions because their presence makes it harder for u

[2019-11-01 14:22] ischoegl commented on #736
All: I created PR #737 to illustrate my suggestion of catching the phase definitions with a transitional warning.

[2019-11-02 02:16] #698 closed, assigned to nobody

[2019-11-02 02:19] #586 closed, assigned to nobody

[2019-11-02 19:43] #703 closed, assigned to nobody

[2019-11-07 15:35] #710 closed, assigned to nobody

[2019-11-09 21:31] speth commented on #683
I realized while looking at the warning added in #741 regarding this issue that there is an additional consideration of how this is handled by `ck2cti` and `ck2yaml`. `ck2yaml` silently drop the `T2` parameter if a value of 0 is specified, the same as if it was not specified, while `ck2cti` preserves the zero.

So, in addition to warning about T** being specified as 0 at the time a `Troe` object i

[2019-11-10 01:11] ischoegl commented on #683
This is an excellent point, and probably a philosophical question about `ck2yaml`: should the output be changed to pre-empt undesirable behavior or should it generate a literal conversion even if there are issues that will result in warnings? The discontinuities in the NASA polynomials raise a similar issue.

My own preference would be a literal translation. As long as `ck2yaml` preserves the zero

[2019-11-10 04:05] bryanwweber commented on #683
I agree that a literal translation is the best approach. To the extent that the warnings generated by Cantera prompt people to improve their mechanisms, I'm happy to be the nagging voice for people 😁

[2019-11-11 03:56] #683 closed, assigned to nobody

[2019-11-11 18:46] ischoegl opened #746 "Cython: functions routed through wrapper.h do not display C++ errors & warnings"
**System information**

- Cantera version: 2.5.0a3
- OS: Ubuntu 18.04 LTS (all?)
- Python/MATLAB version: Python 3.6

**Expected behavior**

Errors and warnings issued in C++ layer should be raised/displayed on the Python console

**Actual behavior**

Errors and warnings are not raised/displayed for any function routed through `cython/wrapper.h`

**To Reproduce**

Steps to reproduce the behavior:

[2019-11-12 05:16] ischoegl opened #747 "YAML: consistently clarify reaction type"
**System information**

- Cantera version: 2.5.0a3
- OS: all
- Python/MATLAB version: N/A

**Expected behavior**

YAML entries clearly identify type of reaction, with the default being `elementary`. This is being followed consistently for `GasKinetics` (with `three-body`, etc.), and the same should be done for `InterfaceKinetics` etc., e.g.

[code]
**Edit:** the type `interface` as default for `In

[2019-11-12 07:40] ischoegl opened #748 "Refactor implementation of falloff reactions"
**Is your feature request related to a problem? Please describe**

The implementation of falloff reactions separates `falloff` and `chemically-activated` reactions (a relatively minor binary distinction) while introducing a `FalloffFactory`. This solution (while historical) appears to be more complex than necessary.

**Describe the desired solution**

Removal of `FalloffFactory` simplifies the rea

[2019-11-12 16:35] bryanwweber opened #749 "Discuss deprecating Butler-Volmer reaction types"
In `Reaction.cpp`, there is a bit of processing of the XML reaction entry to extract the specific type of an electrochemical reaction: https://github.com/Cantera/cantera/blob/719cb3d2b766707aad71b18f0f8ecbbf5420d620/src/kinetics/Reaction.cpp#L859-L869

I believe a relevant XML reaction entry should look like

[code]

and similar for the other types in the C++ code. @decaluwe has suggested that the

[2019-11-12 16:36] bryanwweber commented on #749
Also related to #747 and #748

[2019-11-12 17:57] ischoegl commented on #749
I'd be happy to hear input on this, as the current YAML syntax is not easily extendable (see #747). Reaction factories as envisioned by PR #745 would provide a fairly simple pathway of allowing for integration of additional reaction types (that do *not* depend on the tortured magic number solution that was mentioned).

**PS:** any existing XML files for additional electrochemical reaction definiti

[2019-11-12 18:44] ischoegl commented on #746
@bryanwweber ... why no **bug** label? Errors/warnings passing *silently* (no user feedback whatsoever even if C++ throws an error(!)) is quite problematic. (worst case scenario: this behavior may mask existing unrelated bugs or undesired behaviors)

[2019-11-12 20:55] speth commented on #749
I think some of the more complex electrochemical reaction stuff is an incomplete stub. I believe that there are actually implementation issues that prevent most if not all of it from being used at present (for both 2.4.0 and the current master branch) due to two mutually-exclusive conditions: (a) we don't currently allow reactant orders to be specified for reversible reactions and (b) Butler-Volme

[2019-11-12 21:34] speth commented on #747
For an interface reaction, you do not need to parse the reaction equation to know that it's of that type. It's required by the fact that you're adding it to an `InterfaceKinetics` object. I think requiring every reaction in a surface mechanism file to be tagged with `type: interface` would be a decrease in the readability of the YAML format.

For electrochemical reactions, the problem is the case

[2019-11-12 22:07] ischoegl commented on #749
@speth ... not surprised based on what I had seen; I have not spent sufficient time trying to understand what was done or required internally, so thanks for providing context!

Still, the current YAML detection completely omits a `type`, which will make it hard to add things back in if they're required at a later point.

Regarding XML, a simple search for 'cantera' + 'volmer' + 'xml' produced [thi

[2019-11-12 22:11] bryanwweber commented on #746
Honestly, because I didn't read the issue closely 😄 Added now

[2019-11-12 22:21] bryanwweber commented on #749
@ischoegl The `"butlervolmer"` and related reaction types in the C++ above don't appear in that XML file, so it wouldn't function as a test of these specific capabilities 🙁

In terms of adding these into the YAML format in the future, @decaluwe pointed out that these are not so much _reaction_ types as they are _reaction rate coefficient_ types, analogous to Arrhenius, Troe, et al. (at least to my

[2019-11-12 22:30] ischoegl commented on #747
@speth ... yes, it is true that things can be deduced, but is this an efficient implementation? If we have a reaction mechanism with 10k+ reactions, it is quicker to simply access a `type` field than to string-search for a third-body collision partner.

Imho, there are several arguments *against* trying to eliminate the `type` field:
1. Specific tests for nested definitions need to be hard-coded,

[2019-11-12 22:36] ischoegl commented on #749
@bryanwweber / @decaluwe ... yes, these are reaction rate related, but this is not necessarily a reason to create a hierarchy as done for falloff. Having a flat structure is imho much simpler to maintain down the line ... note that I make this distinction from the viewpoint of implementation, not in terms of what those reactions stand for.

[2019-11-12 23:09] decaluwe commented on #749
So, where I’ve landed on electrochemical reactions:

  1.  Elementary electrochemical reactions: to a degree, these are a sub-class of any interface reactions, where the electric potential influence cannot be ignored.  i.e. if we evaluate the electric potential component for a non-electrochemical reaction, we get the correct result, because the charge transferred between phases is zero and the ele

[2019-11-12 23:35] speth commented on #749
@bryanwweber, I think that sounds like a fine path forward for implementing the XML to YAML converter.

I've made PR #750 implementing the suggestion to deprecate these reaction types, with the expectation of re-implementing them in a later release.

[2019-11-13 00:03] ischoegl commented on #747
I guess that in many cases (including three-body), autodetection may not introduce much overhead (I even may take a stab). Still, for `electrochemical` a `type` field would be imho a cleaner approach as the correct type is not easily inferred from the reaction definition alone.

[2019-11-13 02:15] speth commented on #747
Agreed, it does simplify the factory class implementation.

Two things:

*First*, I did some benchmarking while developing the YAML parsing code, and I've been pretty happy with the performance so far. It's significantly faster than using the XML format, let alone converting CTI to XML. To provide a bit of data, I just ran a comparison for a fairly large mechanism (LLNL butanol mechanism with 431

[2019-11-13 03:13] ischoegl commented on #747
@speth ... thanks for the detailed response! Responding where appropriate ...

those number are impressive!

Agreed, but it should be done exactly once. In the current implementation, every surface reaction gets parsed twice due to the omission of an appropriate `type` field for electrochemistry, i.e.
https://github.com/Cantera/cantera/blob/719cb3d2b766707aad71b18f0f8ecbbf5420d620/src/kinetics/Rea

[2019-11-13 23:03] speth commented on #747
I don't see why a warning would be required -- the YAML format is not in any stable release, so I think we can make breaking changes as needed.

For the vast majority of user input, we rely on the user to write what they mean, and have no way of checking that that input is what they meant. Obviously, in those cases where we can detect inconsistencies, we should, but I don't think we should try to

[2019-11-13 23:43] ischoegl commented on #747
Perfect!

[2019-11-14 02:11] ischoegl commented on #748
Closing this as I don't think it is necessary as described (flattening the structure has no significant benefits, as it's easy to interpret the current implementation as type and subtype).

I still believe that there isn't a good reason to differentiate between `falloff` and `chemically-activated`, as the difference is marginal and does not warrant maintaining two separate classes. I will open ano

[2019-11-14 02:11] #748 closed, assigned to nobody

[2019-11-14 02:37] ischoegl opened #751 "Discuss deprecation of chemically-activated reaction type"
With the introduction of YAML, there's an opportunity to discontinue the separation of `FalloffReaction` and `ChemicallyActivatedReaction` prior to release to production. The classes differ in a single detail, i.e. https://github.com/Cantera/cantera/blob/719cb3d2b766707aad71b18f0f8ecbbf5420d620/src/kinetics/GasKinetics.cpp#L144-L148

Rather than specifying a chemically activated reaction as a sepa

[2019-11-15 16:45] ane-sh opened #752 "'composite' Func in Matlab"
**System information**

- Cantera version: 2.4.0
- OS: Windows 10
- MATLAB version:

Following the post in the google group forum titled 'composite' Functor Matlab, the problem is with composing Functors. One member advised that the code was incorrectly written/implemented.

**To Reproduce**
Taking the example of a function (1- (sin(x)^2))^(1/2), the following code was used

[code]

**Actual behav

[2019-11-15 18:02] bryanwweber commented on #752
Thank you for posting this issue! For reference, the Google Group discussion is at https://groups.google.com/forum/#!topic/cantera-users/I12aznWPpAk

[2019-11-16 17:59] ischoegl commented on #658
It appears that this issue is isolated to a single name definition in the CTI input (`moleFraction` vs `mole_fractions` used elsewhere).

[2019-11-17 00:06] ischoegl commented on #633
It looks like this affects any `setMoleFractions` call for an incompressible phase that does not call `calcDensity` in an overloaded `compositionChanged` method.

[2019-11-18 16:29] ischoegl commented on #634
@rwest / @mazeau ... could you upload the original chemkin files so the reported behavior can be reproduced?

[2019-11-18 16:56] mazeau commented on #634
[surf_vlachos-copy.inp.txt](https://github.com/Cantera/cantera/files/3859725/surf_vlachos-copy.inp.txt)
I think this is it

[2019-11-18 17:53] ischoegl commented on #634
Not sure: the information appears to be incomplete. Could you please be more specific on how you used `ck2cti` to produce the cti file that resulted in the `bad_cast` error?

[2019-11-18 18:02] rwest commented on #634
Need the corresponding gas phase chemkin file as well in order to convert in ck2cti.  Do you still have that Emily?

[2019-11-18 18:04] mazeau commented on #634
[chem_annotated-gas-copy.inp.txt](https://github.com/Cantera/cantera/files/3859999/chem_annotated-gas-copy.inp.txt)
sorry about that

[2019-11-18 18:06] rwest commented on #634
This doesn't match up with the vlachos surface file you just posted. They have different species names, for a start (the different file names is also a clue).

[2019-11-18 18:22] mazeau commented on #634
these are the only files I have left
[reactions-copy.py.txt](https://github.com/Cantera/cantera/files/3860075/reactions-copy.py.txt)
[dictionary.txt](https://github.com/Cantera/cantera/files/3860076/dictionary.txt)

[2019-11-18 19:07] rwest commented on #634
OK, here's a minimal example of the problem (I think).

[Archive.zip](https://github.com/Cantera/cantera/files/3860221/Archive.zip)

chem-gas.inp
[code]
chem-surface-works.inp
[code]
chem-surface-broken.inp
[code]

The broken one with the extra `REV` line creates a `reaction` for the explicit reverse instead of a `surface_reaction` in the resulting `cti` file.  The archive contains all the files a

[2019-11-18 19:52] ischoegl commented on #634
@rwest ... thanks for the minimal example. With a (minimal) fix, I get
[code]

[2019-11-18 22:54] #634 closed, assigned to nobody

[2019-11-18 23:07] #728 closed, assigned to nobody

[2019-11-18 23:20] speth opened #755 "Document requirements of Python examples"
The examples shown at https://cantera.org/examples/python/index.html do not list the required version of Cantera or other dependencies. This leads to problems when users try to run them with incompatible versions of Cantera (see #728). A standard method for documenting these requirements was established in #729, and implemented for the [ic_engine.py](https://github.com/Cantera/cantera/blob/master/

[2019-11-18 23:57] ischoegl commented on #658
Issue should be closed per discussion of #753

[2019-11-19 01:33] speth commented on #633
Following up from a discussion on #720,  I think it would make sense to have `Phase::compositionChanged` trigger an update of `m_dens` for phases where the density isn't an independent variable (i.e. using the newly introduced `isCompressible()` function to check). This would require making `calcDensity` a virtual method of `Phase`. I think that would be a fairly reliable fix for both this issue a

[2019-11-19 01:39] decaluwe commented on #633
Cool - I’ll put this on my to do list.

Sent from my iPhone

[2019-11-19 01:43] ischoegl commented on #633
@speth ... I think it'd be easier and safer to update density centrally within `Phase::setMoleFractions`, as this pre-empts anything else having to overload things. (i.e. similar to the fix of `setDensity` in #720).

[2019-11-19 02:04] speth commented on #633
Well, this also applies to any other function that changes the composition, including `setMassFractions`, `setCoverages`, and `setMolalities`.

Also, how can you calculate the density within `Phase::setMoleFractions`, given that the method to calculate density depends on the equation of state?

[2019-11-19 02:22] ischoegl commented on #633
Quite simple: make the currently used `calcDensity` virtual and define it in `Phase` (needs a different signature as it's currently not consistently defined). Imho, callback functions like the virtual `Phase::compositionChanged` are really hard to keep track of, which produces glitches like the one this issue is describing.

[2019-11-19 02:38] speth commented on #633
How is that not just making `calcDensity` a callback function? Calling it from `setMoleFractions` etc, just means you need to do it in each of the functions where `compositionChanged` is already called, as opposed to once in `compositionChanged`.

[2019-11-19 02:56] ischoegl commented on #633
There's no doubt that it accomplishes the same thing. My suggestion is just to call the update directly in a less obscure spot so it's not overlooked ... also, a couple of `compositionChanged` overloads can be removed.

[2019-11-21 02:11] bryanwweber commented on #397
This is probably no longer necessary and time shouldn't be spent here, considering the impending removal of CTI in favor of YAML.

[2019-11-21 02:11] #397 closed, assigned to nobody

[2019-11-24 17:29] decaluwe commented on #749
Okay, I'm finally done writing up my thoughts. Sorry it took a while, I took a couple days going down a rabbit hole, in a directlion that ultimately proved more complex than I had anticipated.

See attached - the first 6 pages cover some of the underlying theory.  They're based on some lecture notes from my e-chem class, with as much of the pedantry as possible stripped out (but n > 0, still.  Fai

[2019-11-25 13:42] bryanwweber opened #758 "Add testing with new versions of our vendored dependencies"
LLNL is now up to version 5.0.0 of SUNDIALS, as of October 2019: https://computing.llnl.gov/projects/sundials/release-history

In our submodule, we're still on 3.1.0. We should come up with a way of keeping up to date with SUNDIALS releases, since it seems like they're pushing new code much more frequently now than a few years ago. This is especially important for anyone using a system version of

[2019-11-25 13:53] bryanwweber commented on #758
For that matter, the same comment applies to Eigen (although we haven't had problems with breaking changes there), fmt, and yaml-cpp.

[2019-11-25 16:32] speth commented on #758
Now that SUNDIALS has an official Git repo (https://github.com/LLNL/sundials), we can discontinue our unofficial mirror. That should make updating the submodule version less onerous.

From what I can tell, most of the changes with the newer SUNDIALS versions are new features that we don't currently have a way of using, so there's not really much immediate benefit for use within Cantera. The case t

[2019-11-25 16:45] bryanwweber commented on #758
That's fine, I don't think we need to update the submodule all that frequently. We should have CI tests that run against multiple versions though, IMO, so we can catch breaking changes before we get error reports. Hopefully, we can make it easy to add new versions of dependencies like this.

Now that I think of it, we should do this for all our major dependencies (for some definition of major). An

[2019-11-25 17:06] speth commented on #758
The experience I've had with SUNDIALS has been that every major version (and some minor versions) has introduced API changes requiring changes on our end, so it may be a bit of a special case compared to other dependencies. I think the issues have always been visible at compile time, so they're pretty obvious, and once they're resolved they tend to stay that way, given the abstraction of all SUNDI

[2019-11-27 21:23] ischoegl commented on #749
@decaluwe ... great to have a write-up for this! Regarding your thoughts about implementation, I copied the bulk of your comments below:

evaluating the reaction driving forces is not a ‘special feature’ that a user needs to
request, imho.

an ‘electrochemical’ reaction is worth evaluating. At present we parse all surface
reaction equation strings twice. Can we shift the labeling of echem reaction

[2019-11-28 02:06] bryanwweber commented on #749
While I don't disagree with "explicit is better than implicit" in general, the problem with this approach is that the "default" varies by field. In combustion, we expect Arrhenius reactions to be the default. In electrochemistry work, I imagine they expect electrochemical reactions to be the default, so why should a special flag be mandatory? I think an optional flag for clarity could be allowed,

[2019-11-28 02:28] ischoegl commented on #749
@bryanwweber It is true that we're all rooted in our areas! Anyhow, for a bulk phase (dim=3) the default would be `ElementaryReaction` whereas for a surface phase (dim=2) it would be `InterfaceReaction`. From a (new) user perspective, a type identifier for anything else would not necessarily be detrimental.

I was suggesting the explicit identification due to the current approach where some duplic

[2019-11-28 03:07] ischoegl commented on #747
Closing per discussion in #750: automatic detection is preferred over simplicity of parsing. Long-term, it would make sense to avoid duplicate parsing of surface reactions by other means.

[2019-11-28 03:07] #747 closed, assigned to nobody

[2019-11-29 01:55] AdityaSavara opened #760 "ctml writer (I believe incorrectly) divides by factors of 10 for some surface pre-exponentials"
**System information**

- Cantera version: 2.4
- OS: Windows 10
- Python/MATLAB version: Python

**Expected behavior**
When ctml_writer operates on a cti file, we expect all of the Arrhenius factors (including pre-exponentials) to remain the same in the xml file generated. For example, A=3.7E21 should remain A=3.7E21.

**Actual behavior**
For some surface reactions, but not all, the pre-exponentia

[2019-11-29 02:44] bryanwweber commented on #760
Hi! Thank you for reporting this. Have you checked that the reaction rates calculated by Cantera are different than what you'd expect from a have calculation? ctml_writer adjusts the units of the A factor from the units in the CTI file to be SI units (except kmol instead of mol), and those units depend on the order of the reaction.

[2019-11-29 04:01] AdityaSavara commented on #760
Hi Bryan, I agree a 'by hand' unit conversion should answer this question.  Someone with more knowledge would need to answer if I am mistaken about the expected behavoir. I did not see any differences in the units noted in the cti file or the xml file, and when I looked at the Deutschmann paper that the example came from, I had the impression that the surface reactions are supposed to be in relati

[2019-11-29 09:44] wbessler commented on #749
Dear all,

this is Wolfgang Bessler from Offenburg/Germany. I am an electrochemist, long-term user of Cantera (stayed with Dave Goodwin for a couple of months in 2006), contributed to its Li-ion battery functionality, and follow your development activities (big thanks for the good work). Concerning electrochemical reactions:

1. For elementary reactions (“Marcus Theory”): A thermochemical surface

[2019-11-29 18:18] AdityaSavara commented on #760
Apparently, whether this is a bug or not, it does not cause any problems as long as one is only writing with cantera and reading with cantera (xml and cti file give same cantera object values, as shown below). So if there is a bug, it must exist in both directions.  I suppose this means that either it needs to be left alone or changed in both the writing and reading directions.

ct.Reaction.listFr

[2019-12-01 17:27] AdityaSavara commented on #760
More info just to help anyone that tries to track the reason down... if we look at the example I attached...
[code]

[2019-12-02 00:02] speth commented on #760
Unit conversions for the rate constant are tricky, especially for surface reactions, but Cantera is doing the correct thing in all cases here. The CTI input file says that its units are in cm and (gram) mole, while the XML files always default to meters and kmol (unless overridden on an individual value). Note that rates in the referenced paper are in cm, mol, and s, according to the heading of Ta

[2019-12-02 14:37] AdityaSavara commented on #760
Thank you very much for clarifying this for me.  I think that what you meant is that the CTML converts the A into units based on meters and kmol.   If I understand what you are saying and what Cantera does, I can think of it like this: the site_density is *only* used to convert between relative-surface-coverage to absolute-surface-coverage (and possibly vice versa), and that the absolute-surface-c

[2019-12-02 14:56] speth commented on #760
That is correct, except that you left off the `^2` on the last term of your equation for units in the equation:
[code]
But you have the right answer an any case.

If you're satisfied, please go ahead and close this issue.

[2019-12-02 18:30] AdityaSavara commented on #760
Thank you!

[2019-12-02 18:30] #760 closed, assigned to nobody

[2019-12-03 14:27] #658 closed, assigned to nobody

[2019-12-03 16:06] #675 closed, assigned to nobody

[2019-12-06 18:52] #595 closed, assigned to nobody

[2019-12-06 18:52] #644 closed, assigned to nobody

[2019-12-12 12:06] OliverFendt opened #769 "License of file gch.py is GPL-2.0"
Dear cantera maintainers

**System information**

- Cantera version: 2.4.0
- OS: Windows 10
- Python/MATLAB version: source code package

In contrast to the license specified in License.txt (which is a BSD-3-Clause customized license) the file cantera-2.4.0/site_scons/site_tools/gch.py is licensed under GPL-2.0.
How is the file used in the context of the entire package? Causes the inclusion of thi

[2019-12-12 14:55] speth commented on #769
I see, that does introduce a bit of unfortunate confusion.

The `gch.py` file is used as part of the build process for Cantera, to manage generation of a precompiled header. From the perspective of the main Cantera code (including the Python and Matlab interfaces), I don't see this as being any different from using GCC to compile Cantera, which certainly does not require that the software be licen

[2019-12-12 16:15] OliverFendt commented on #769
Thank you very much for the clarification on gch.py.

[2019-12-13 17:14] speth commented on #769
If you're satisfied that there's no action needed, can you close this issue?

[2019-12-17 01:07] OliverFendt commented on #769
resolved, thank you

[2019-12-17 01:07] #769 closed, assigned to nobody

[2019-12-18 19:27] ischoegl opened #774 "Fix examples in `samples` folder"
Please fill in the following information to report a problem with Cantera.
If you have a question about using Cantera, please post it on our
[Google Users' Group](https://groups.google.com/forum/#!forum/cantera-users).

**System information**

- Cantera version: 2.5.0a3 (master branch)
- OS: Linux
- Python/MATLAB version: N/A

**Expected behavior**

All samples work without errors/warnings.

**Act

[2019-12-18 21:34] bryanwweber commented on #774
The input file for the first one is in `samples/cxx/LiC6_electrode`. If you add `CANTERA_DATA=path/to/samples/cxx/LiC6_electrode ./LiC6_electrode` it should work. I'm not sure what the appropriate resolution is here - maybe copy the input file into the `build/samples` directory associated with the example? That won't solve the problem if you run the sample from another directory, e.g., `CANTERA_DA

[2019-12-18 21:43] ischoegl commented on #774
I believe the expected behavior would be that build scripts copy the input file to the build directory. (it probably needs to be converted to yaml as well)

[2019-12-18 21:46] bryanwweber commented on #774
Yeah, I think copying the input file is probably the right thing to do. I converted the input file in #768

[2019-12-18 21:49] ischoegl commented on #774
Great. Can you add this to #768? I can fix the other one as it's clearly caused by yours truly.

~Before tackling that, I'd like to see whether the updated example should pass a locally defined function (there just was a question on the UG that's waiting for a related answer).~ Edit: decided to fix the second issue with a very limited PR (#776).

[2019-12-19 22:05] ischoegl commented on #736
Alternative implementation proposed in #768 improves over #738.

[2019-12-21 04:03] ischoegl commented on #633
I had another look at this today (after starting [ischoegl:fix-density-update](https://github.com/ischoegl/cantera/commits/fix-density-update) when I was working on #720, code is rebased on current master c4c30e3):
* ffa1e68: switch from non-virtual `calcDensity` to a virtual `updateDensity` (due to the former not having a uniform function signature); all unit tests pass.
* 502fd0a: An across-the-

[2020-01-02 20:58] speth commented on #751
I think the key question is whether a "chemically activated" reaction is a falloff reaction or not. I'm not sure, and I'd appreciate some input from the chemists on this point: Is "chemically activated falloff reaction" a reasonable description for this type of reaction?

If this is the case, we could combine the two YAML reaction types. However, I would suggest making no changes to the XML / CTI

[2020-01-03 01:38] rwest commented on #751
I find it helpful to re-read section 3.6 of the [Chemkin Theory Manual](https://personal.ems.psu.edu/~radovic/ChemKin_Theory_PaSR.pdf) about once a year, and yet I'm still not totally sure. They're definitely closely linked. But is it any fairer to say that chemically-activated is a type of fall-off than it is to say fall-off is a type of chemically-activated? How do you choose which is the defaul

[2020-01-03 23:56] speth opened #786 "Exceptions raised by PureFluidPhase::phaseOfMatter"
**System information**
- Cantera version: current master (237936c74)

**Expected behavior**
The phase of matter should be correctly reported.

**Actual behavior**
An exception is raised for some cases, originating in `Substance::Tsat`.

**To Reproduce**
In Python:
[code]

Produces the error:
[code]

Similarly:
[code]
Produces an exception which is not caught by Python:
[code]

[2020-01-04 17:23] bryanwweber commented on #786
I would guess this is because the pressure results in a saturation temperature that's out of range somehow. If you don't fix it before the YAML PR is finished, I'll take a look.

[2020-01-07 14:59] #662 closed, assigned to nobody

[2020-01-07 15:17] speth commented on #786
I don't think this had anything to do with the YAML PR.

Given that the equations of state have explicit temperature bounds but no pressure bounds, it makes sense that there are valid pressures where the saturation temperature is not defined. I think this can be fixed by inverting the test, i.e. testing for `pressure() < satPressure(temperature())`, since the saturation pressure will be defined fo

[2020-01-07 18:40] bryanwweber commented on #669
This should be resolved by #768

[2020-01-07 18:40] #669 closed, assigned to nobody

[2020-01-07 18:51] bryanwweber commented on #786
I meant in terms of having time/ability to focus on something new 😄

OK, I'll start there.

[2020-01-07 19:53] ischoegl commented on #736
This can be closed per #768

[2020-01-07 19:55] bryanwweber commented on #736
I think this was partially resolved by #768, since I listed a URL for a wiki page in the warning message that doesn't exist 😂 I'd like to leave this open until that's resolved.

[2020-01-09 05:43] ischoegl commented on #751
@rwest ... thanks for the link! Comparing Figs. 3-1 and 3-3 there is an expected left-right flip. For the specific example given, both go through a chemically activated compound (C2H6*), and both have a fall-off behavior (either to the left or right). The real distinction appears to be whether the reaction type is 'unimolecular/recombination' or 'bimolecular'.

I.e. a `bimolecular` (or `chemically

[2020-01-09 15:38] speth commented on #751
That's an interesting observation, @ischoegl. If nothing else, that could at least be used as part of the validation for these reactions.

It seems to be the case that the terminology used consistently applies the term "falloff" exclusively to the unimolecular/recombination case, and "chemically activated" or "chemical activation" exclusively to the bimolecular case. Is there a name that encompass

[2020-01-09 15:45] rwest commented on #751
I think choosing the rate expression based entirely on the number of products is a dangerous precedent. There are so many cases where  (_sometimes_ for good reason) people model things are not physically based, like irreversible reactions, fractional stoichiometries, merged non-elementary reactions, etc..

[2020-01-09 17:14] ischoegl commented on #751
@rwest .... I was going strictly by the rationale provided by CHEMKIN (which likely is a good default behavior). There is still the option to provide a flag to over-ride for non-physically motivated cases, which adds to @speth's question about appropriate nomenclature.

[2020-01-09 22:43] ischoegl opened #788 "ck2yaml may pick incorrect file for validation tests"
**System information**

- Cantera version: 2.5.0a3 (easily reproducible after merge of #768)
- OS: Ubuntu 18.04 (all?)
- Python/MATLAB version: 3.6.8

**Expected behavior**

`ck2yaml` validates the file that is the output of the conversion.

**Actual behavior**

If there is a file with the same name on the data path, the latter is validated instead.

**To Reproduce**

Steps to reproduce the behavi

[2020-01-10 02:25] ischoegl opened #791 "Deprecation warnings not raised for SolutionArray methods"
**System information**

- Cantera version: 2.5.0a3
- OS: Ubuntu 18.04
- Python/MATLAB version: 3.6.8

**Expected behavior**

All deprecation warnings are raised as expected.

**Actual behavior**

No deprecation warnings are displayed

**To Reproduce**

[code]
**Additional context**

Behavior was first observed for #719; issue *may* be connected to #746

[2020-01-10 03:48] speth commented on #791
Isn't this mostly a consequence of how `DeprecationWarning` is handled by default in Python? That is, ignored by default except (starting in Python 3.7) when issued directly from `__main__`? (see https://www.python.org/dev/peps/pep-0565/)

I'm actually more confused by the fact that the `DeprecationWarning` is shown for `In [3]`. Perhaps that is some weirdness related to Cython?

I think you shoul

[2020-01-10 04:12] ischoegl commented on #791
@speth ... `warnings.simplefilter("default")` indeed forces the warnings to be displayed for `In [2]`. But your other point remains ... taken together, the behavior is definitely not consistent.

[2020-01-14 02:06] bryanwweber commented on #786
So inverting the test results in errors because

[code]

This seems to be because `phaseOfMatter()` is a `const` function. I'm not sure what all of this means, except that all of the variations I tried of removing `const` and modifying `satPressure()` to account for that change also resulted in errors or `-Woverloaded-virtual`. I wonder if a check of the temperature to make sure it is in the appro

[2020-01-14 02:26] speth commented on #786
Well, you would need to change definitions of `satPressure` in all derived classes that overload this as well. It unfortunately seems like it turns into a bit of a mess, since it's not easy to make all of the implementations `const`.

How would you do this check a different way? The issue is that the saturation curve isn't defined for sufficiently low pressures, and we don't know what this limitin

[2020-01-14 14:04] bryanwweber commented on #786
I would use a `try...catch` block to check if the `satTemperature()` returned an error. If there was an error, return `"undefined"`. Otherwise, the check remains the same. Not very elegant, but should at least prevent crashing Python (which can also be done by adding `+ except_translate` to `cantera.pyx` for `phaseOfMatter()`)...

[2020-01-14 14:13] bryanwweber commented on #755
I believe this was completed in #768

[2020-01-14 14:13] #755 closed, assigned to nobody

[2020-01-14 15:29] speth commented on #786
The phase isn't undefined - the examples I gave are perfectly reasonable definitions of gaseous states. But I also wouldn't want to assume that all errors are in `satTemperature()` correspond to gaseous states.

The addition of `+translate_exception` is a good idea regardless, given that some implementations of `phaseOfMatter` can throw exceptions.

[2020-01-14 16:19] bryanwweber commented on #786
I agree with all of this. I got around the `const` errors by changing the condition to `else if (pressure() < m_sub->Ps())` but I'm not sure if that will cause any problems.

[2020-01-15 15:26] bryanwweber commented on #736
Here is the wiki page: https://github.com/Cantera/cantera/wiki/deprecate_gri30_phases Comments/edits welcome

[2020-01-15 17:07] ischoegl commented on #736
Looks ok to me

[2020-01-15 18:58] speth commented on #736
I made a couple of small edits. I think with that, we can actually close this now.

[2020-01-15 18:58] #736 closed, assigned to nobody

[2020-01-15 19:39] bryanwweber commented on #736
Thanks @speth!

[2020-01-17 01:24] speth commented on #746
I think the diagnosis here is incorrect.

The reason that no warning or error from `Phase::setMoleFractions` is issued for the `NaCl(s)` phase, or any other phase which is implemented by the `SingleSpeciesTP` class, is because `SingleSpeciesTP` overrides `setMoleFractions` to do nothing, and the base class method is never called. If you use  `gri30.yaml` instead, you will see the warnings or error

[2020-01-17 01:36] speth commented on #786
That seems like an reasonable workaround to me. I wouldn't anticipate any problems with that solution.

[2020-01-17 01:46] ischoegl commented on #746
@speth ... this issue arose when I had manually added warnings/errors to the base classes for single species assignments (the code triggering this behavior is long gone). The override may explain the behavior, but I’m not convinced (I don’t recall details after two months). Not sure that it’s worth keeping this open.

[2020-01-17 01:46] #746 closed, assigned to nobody

[2020-01-17 01:56] speth commented on #746
I'm not speculating based on how I think the code works. I verified this behavior myself.

[2020-01-17 02:03] ischoegl commented on #746
@speth ... sorry if this came across wrong. No offense was intended.

[2020-01-22 13:19] ischoegl commented on #774
Issue should eventually be taken care of by steps discussed in Cantera/enhancements#22

[2020-01-29 16:02] bryanwweber commented on #786
The concern that I have is that `Substance::Ps()` changes the state of `m_sub` (I think), and I'm not sure if that means that `phaseOfMatter()` should no longer be `const`. I guess the compiler would catch that, but I wasn't sure if this was one of those "there be dragons" cases.

[2020-02-03 21:28] rwest opened #800 "ck2yaml doesn't set third_body when parsing A+B+M reactions"
When parsing these reactions
[code]
it seems that ck2yaml will interpret them both as pressure dependent and set `pressure_dependent=True` on both, but will only set the `third_body` attribute to `M` in the second reaction (the first reaction will have `third_body=None`).

When running through `check_duplicate_reactions` it will then reach the lines
[code]
and give an `AttributeError: 'NoneType' o

[2020-02-03 21:30] bryanwweber commented on #800
Super not relevant, but congrats on raising Issue #800! 🎉

[2020-02-09 19:29] bryanwweber opened #802 "Some tests fail silently when testing overloaded methods"
**System information**

- Cantera version: master
- OS: macOS
- Python/MATLAB version: 3.8 (but not relevant)

**Expected behavior**

Tests pass

**Actual behavior**

Some tests fail

**To Reproduce**

1. `scons build`
2. `PYTHONPATH=build/python python -m unittest -v cantera.test.test_composite.TestModels.test_load_thermo_models`

Output:
[code]
Also
[code]
and no error is thrown.

This can also

[2020-02-09 19:31] bryanwweber commented on #802
Also, a question about the test class... The implementation looks like
[code]
Any reason to use `setUpClass()` here instead of `setUp()`? `setUp()` is an instance method and runs after the superclass's `setUpClass()`, which is called in this `setUpClass()` anyways?

[2020-02-10 02:44] bryanwweber commented on #802
I wonder if this might be fixed by #796? I'll check when I get a few minutes

[2020-02-10 02:56] ischoegl commented on #802
Not sure, but will look into it tomorrow (I currently don’t have a toolchain on my laptop). Regarding unit tests, I only checked/verified the scons varieties.

[2020-02-10 03:08] bryanwweber commented on #802
@ischoegl great, thank you. FYI, conda packages for 2.5.0a4 are now up for Linux and macOS (Windows is failing for unknown reasons 😭), including Python 3.8. I just commented out the test at issue here to get it to build 😬

[2020-02-10 04:21] speth commented on #802
The changes already in #796 were related, but not quite what was needed to fix this. I've added an additional change that does -- the issue is that this test relies on deprecation warnings being fatal, which was being set only in `runCythonTests.py`.

The point of `setUpClass` is that it only runs once for a whole set of tests. `setUp` is run again for each  individual test. So it's more efficient

[2020-02-11 21:48] ischoegl opened #804 "Slicing of SolutionArray raises error"
**System information**

- Cantera version: 2.5.0a4
- OS: Ubuntu
- Python/MATLAB version: Python 3.6.8

**Expected behavior**

Slicing of `SolutionArray` objects should work as usual (as indexing is implemented).

**Actual behavior**

Slicing does not work.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Additional context**

The error message clearly points at the issue.

[2020-02-12 18:45] #791 closed, assigned to nobody

[2020-02-12 18:45] #802 closed, assigned to nobody

[2020-02-12 19:55] ischoegl opened #807 "Unit tests fail on master branch"
**System information**

- Cantera version: 2.5.0a5, commit 01a4e904be2aa3bfbccb594c93ee0916f6ce3a6c
- OS: ubuntu
- Python/MATLAB version: 3.6.8

**Expected behavior**

Unit tests work

**Actual behavior**

~2~ One unit tests fails on master (!)

**To Reproduce**

Steps to reproduce the behavior:

1. Pull newest commit 01a4e904be2aa3bfbccb594c93ee0916f6ce3a6c
2. Run:
[code]
3. See error:

[code]
**

[2020-02-12 20:50] speth commented on #807
#808 resolves the first test failure.

I think the second one is a transient failure which can be resolved by running `scons test-clean` first.

[2020-02-12 20:54] ischoegl commented on #807
That was quick!

I am confirming - I removed the log from the issue description.

[2020-02-12 21:15] bryanwweber commented on #807
Yeah, we get emails when Travis builds fail so we usually know pretty quickly.

[2020-02-13 04:11] #807 closed, assigned to nobody

[2020-02-20 19:16] bryanwweber opened #812 "Improve the error message when the phases key is missing from a YAML input file"
As reported on the User's Group (https://groups.google.com/d/msg/cantera-users/2sNq2p-fVKM/-fSXMWA9CAAJ), a YAML input file that is missing a top-level `phases` key has a misleading error message:
[code]
It would be nice if this could be improved to point out the actual problem. Minimal YAML file:

[code]

[2020-02-23 22:10] speth commented on #749
Since the original topic of this issue was resolved by #750, I've tried to summarize the broader questions raised here in Cantera/enhancements#38, and would like to suggest that as the thread for any additional discussion about how electrochemical rates are handled.

[2020-02-23 22:10] #749 closed, assigned to nobody

[2020-03-04 14:48] sin-ha commented on #804
@ischoegl  I am new and wish to contribute to Cantera learning about its codebase kindly review my PR

[2020-03-04 17:25] ischoegl commented on #804
No problem. Welcome! Regarding review - the solution is virtually identical to 2f8f68554758b152e76cc7b68d65514988da948e, so I don't have anything to add other than there shouldn't be a second newline below the method.

[2020-03-09 12:55] mvinovivek opened #818 "NotImplementedError while calculating Viscosity (All transport Properties)"
Here is a sample code I tried to run in Python.

[code]

When I run the above code, I get the error as follows:

***********************************************************
NotImplementedError thrown by Transport::viscosity:
Not implemented
***********************************************************

When I checked whether the Transport model is enabled, and it is showing the output as 'Transport'

[2020-03-09 14:27] bryanwweber commented on #818
Hi, the default phase in `gri30.xml` does not include a transport class. One way to fix this is to specify a phase name that happens to include a transport model, like

[code]

for mixture-averaged transport properties, or `'gri30_multi'` for multicomponent.

[2020-03-09 14:31] bryanwweber commented on #818
The other, more general, way to do this is to add the `transport_model` keyword argument to the `Solution` call:

[code]
or `"Multi"`.

[2020-03-10 03:51] mvinovivek commented on #818
Wow!

Thank you so much. It worked.

Closing the issue.

[2020-03-10 03:51] #818 closed, assigned to nobody

[2020-03-11 10:28] boroli opened #819 "Example ic_engine.py heat release rate far too high"
**System information**

- Cantera version: 2.5 (current dev version, pulled from git yesterday)
- OS: debian10
- Python/MATLAB version: python3.7

**Actual behavior**

I was running the ic_engine.py and the output of
'Heat release rate per cylinder (estimate):'
is far too high, something like 1.3 GW!
That's, considering the amount of fuel injected, impossible.
The work is less than 20kW and seems

[2020-03-11 12:46] ischoegl commented on #819
Interesting. I updated this example recently, but didn’t look into specifics about some of the pre-existing metrics. I had mostly looked at efficiencies, which I recall being reasonable (considering that walls are modeled adiabatic).

PS: I just verified this behavior on my installation. It is quite odd as I recall the efficiency being ok previously (it is no longer ok).

[2020-03-11 14:48] ischoegl commented on #819
OK. The change of behavior appears to be introduced by PR #810 - which more broadly introduced a method `heat_release_rate` that now masks the `extra` column of the `SolutionArray` object - the difference is the cylinder volume. A fix is pushed in #820.

[2020-03-11 15:11] ischoegl opened #821 "Broken extract_submechanism.py example"
**System information**

- Cantera version: 2.5.0a4 (current master / commit c16c4b0b0f3de6bb9e5366db5d6154ab2a9e0189)
- OS: Ubuntu
- Python/MATLAB version: Python 3.6.8

**Expected behavior**

The example `kinetics/extract_submechanism.py` runs.

**Actual behavior**

[code]

**To Reproduce**

See above.

[2020-03-23 16:47] #819 closed, assigned to nobody

[2020-03-24 15:16] ischoegl commented on #821
This bug will also affect a range of unit tests once `xml` input is migrated to `yaml`. A fix will require discussion ...

[2020-03-25 09:00] sabasafdar commented on #821
hey, i'm interested in working on it

[2020-03-25 13:12] bryanwweber commented on #821
@sabasafdar This may not be a very good "first issue" to resolve. It requires some pretty deep knowledge of the new input format. Feel free to try it out if you want, and if you get stuck feel free to ask questions here.

[2020-03-25 13:54] ischoegl commented on #821
@sabasafdar ... From what I can tell, there are several ways to address this; the new YAML philosophy is somewhat different than the old XML, so some guidance from developers is certainly needed: a fix would potentially reach deep into the C++ sub layer.

[2020-03-26 04:46] ischoegl opened #829 "Indexed assignment of extra columns in SolutionArray fails"
**System information**

- Cantera version: 2.5.0a4
- OS: ubuntu
- Python/MATLAB version: Python 3.6.9

**Expected behavior**

The following works
[code]

**Actual behavior**

The assignment does not work, i.e.
[code]

**To Reproduce**

See above.

**Additional context**

Comments in #805.

[2020-03-26 16:20] speth opened #830 "Make HDF5 output format usable outside of pandas"
The HDF5 output option added to the `SolutionArray` class currently uses the `pandas` library to write the HDF5 files. However, `pandas`-generated HDF5 files introduce an additional layer of abstraction beyond the native structure of HDF5 datasets which makes them difficult to use except with `pandas`. For example, saving a `SolutionArray` generates an HDF5 file with keys:
[code]
where `df` is the

[2020-03-26 16:45] ischoegl commented on #830
I'm supportive of this discussion - the current HDF output makes use of `SolutionArray` objects which are currently only supported in Python. Regardless, it would be straight-forward to write compatible output formats that can be easily read from other interfaces.

Regarding alternative packages, `h5py` is straight-forward to use, but creates another dependence. `pandas` compatible HDF has some ad

[2020-03-26 16:56] speth commented on #830
Well, writing HDF5 files from `pandas` requires `pytables` to be installed. So we're going to have to depend on one HDF5 interface or another. I don't have a strong preference for either. I've used `h5py` more in the past and found it easy enough to use, but `pytables` seems like a reasonable option as well.

[2020-03-26 18:01] ischoegl commented on #830
@speth ... I likewise have used `h5py` in the past and it *looks* simpler than `pytables` (which I haven't used directly), but that's not really a solid basis for a decision. Should the HDF package be added as a required dependency? Also, do you anticipate writing HDF from within C++ at some point in the future?

PS: I'd be happy to work on this once #805 is taken care of.

[2020-03-26 19:27] bryanwweber commented on #804
Interestingly, a zero-length slice still raises an error even after #816 is merged:
[code]
whereas that returns a zero-length list/array for a plain Python list and a NumPy array. So I think there is one more edge case to handle here.

[2020-03-26 19:32] bryanwweber commented on #830
I have used both in the past (although it has been some time) and h5py is (was) much easier to use for simple things, but is also somewhat less powerful for advanced use cases. I suspect that h5py will be sufficient for our purposes. As a longer-term idea, we could write our own wrapper API that only exposed the subset of functionality that we needed from either h5py or pytables. Then we could swa

[2020-03-26 19:51] ischoegl commented on #804
@bryanwweber / @sin-ha ... didn’t anticipate this one either: good catch.

[2020-03-27 15:48] sin-ha commented on #804
the problem extends for this case too i.e. for all arr[x:x]
[code]

The problem exists in basic handling of shapes in the __init__ class where the` len(shapes) == 0`, I will update the PR
thanks @bryanwweber @ischoegl

[2020-03-27 18:28] #788 closed, assigned to nobody

[2020-03-27 20:23] ischoegl opened #831 "Insufficient ruamel.yaml dependencies on older systems"
**System information**

- Cantera version: 2.5.0a4
- OS: Ubuntu Xenial with default packages
- Python/MATLAB version: 3.5.2

**Expected behavior**

`scons test` works out of the box, after successful `scons build`

**Actual behavior**

Test fails
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Install Xenial (ubuntu 16.04 - same as current Travis) and update `apt-get update`
2. Inst

[2020-03-27 22:19] ischoegl opened #832 "Order of `extra` columns in SolutionArray is not preserved"
**System information**

- Cantera version: 2.5.0a4 (and earlier?)
- OS: Ubuntu Xenial (16.04)
- Python/MATLAB version: Python 3.5.2

**Expected behavior**

`SolutionArray.write_csv` writes `extra` columns in correct order regardless of OS / Python version.

**Actual behavior**

Some columns are swapped for some OS / Python versions.

**To Reproduce**

[code]

**Thoughts:**

* This is obviously lin

[2020-03-27 23:00] bryanwweber commented on #832
This seems really minor, does this impact performance or other behavior in any way? Aside from that, this will be resolved with Python 3.6, if I recall correctly.

[2020-03-27 23:15] ischoegl commented on #832
It is minor but affects Travis and pre Python 3.6 installations. Further, #305 proposes to write 1D results via `SolutionArray` extra columns to CSV, which would create consistent (and re-importable) output, with the caveat that the column order may not be preserved.

[2020-03-29 02:33] bryanwweber commented on #832
@ischoegl I'm not sure I understand your comment. If a header row is given in the CSV, why does the order matter? I don't see what the practical effect of fixing this would be. Furthermore, the title of the issue is that column order is not preserved, but then you state "with the caveat that column order may not be preserved". Can you clarify? Thanks.

[2020-03-29 03:17] ischoegl commented on #832
@bryanwweber Xenial builds do not preserve order, newer builds do (which caused some issues for failing unit tests that were not easily tracked down).

I believe that you're correct that the behavior depends on the Python version. I agree that header rows would still allow for a correct identification, but I'd rather ensure that the CSV output of a 1D `FlameBase` object has the `grid` column first

[2020-03-29 04:55] ischoegl opened #833 "Domain1D does not allow for tolerances to be set by arrays"
**System information**

- Cantera version: 2.5.0a4
- OS: Ubuntu Xenial (16.04)
- Python/MATLAB version: 3.5.2

**Expected behavior**

In `Domain1D.set_transient_tolerances` and `Domain1D.set_steady_tolerances`, the keywords *abs* and *rel* can be used to specify arrays for the absolute and relative tolerances for each solution component. (per docstring)

**Actual behavior**

The setters do not wor

[2020-03-29 14:52] speth commented on #774
I think I disagree that this is a problem.  The `build` directory is just a staging location for build artifacts. While it is often useful to run things from that location for testing purposes, that does frequently require some path / environment variable manipulations. This sample runs fine from from its installed location (after being compiled with one of the generated build scripts), since the

[2020-03-29 15:07] ischoegl commented on #830
After some more work on #805 (which introduced HDF output/input for onedim), I believe that `h5py` will allow for adequate flexibility (while avoiding the added complexity of `pytables`).

As a friendly amendment, I am proposing to introduce an intermediate layer. Assuming that the storage `key` (or `group` in HDF parlance) is 'somekey', the following would be an implementation for a `SolutionArra

[2020-03-29 16:20] ischoegl commented on #774
Hm. My assumption was that the `build` directory was complete. I guess #776 already resolved the other issue.

[2020-03-29 16:20] #774 closed, assigned to nobody

[2020-03-29 20:35] ischoegl commented on #833
The docstrings of these methods were ambiguous, as both abs and rel were required; if one was omitted, no action was taken without a warning being issued. ~#836~ #840 ensures the expected behavior.

[2020-03-30 20:32] sin-ha commented on #829
I wish to work on this
I guess storing the created extra object in some namespace should solve this.

[2020-03-30 20:43] ischoegl commented on #829
@sin-ha ... no objections from my perspective. Please be aware that `_extra` may become an `OrderedDict` per #832/#834.

[2020-04-02 22:42] bryanwweber commented on #831
I think the version check will have to go in `ck2yaml.py`, `cti2yaml.py`, and `ctml2yaml.py`. I wonder if that can somehow be centrally managed... Probably not

[2020-04-02 23:09] ischoegl commented on #831
So there's no way to check for this in `SConstruct`? (I'm unfortunately not sufficiently familiar with the build process)

[2020-04-02 23:41] bryanwweber commented on #831
There is, it just wouldn't be terribly useful since the same error would show up if a user installs an old version of `ruamel.yaml` with Pip or conda for some reason, and doesn't go through the build process to find the error. Certainly the conda package can specify the correct dependency but other installers can't.

[2020-04-03 00:57] speth commented on #831
I don't see a reason not to check in SConstruct, though. That would be consistent with what we do for almost every other dependency. I don't think we should do checks in the individual converter scripts.

[2020-04-03 01:38] speth commented on #786
The reason the compiler allows calling the non-const method `Substance::Ps` from the const method `phaseOfMatter` is because `m_sub` is marked as a `mutable` member of `PureFluidPhase`. `mutable` variables can sometimes be a code smell, but I think it's fine in this case because the method is still logically `const` -- while it does involve temporarily modifying the state of the `m_sub` variable,

[2020-04-03 12:02] bryanwweber commented on #786
Thanks @speth! Makes sense. I'll push the fix when I get a few minutes, hopefully today

[2020-04-03 12:13] bryanwweber commented on #831
What if a user installs the package from the PPA and installs `ruamel.yaml` from apt as well? Or for the Windows installer, they either already have installed or install new an old version of `ruamel.yaml`? They would run into the same error, but wouldn't get a useful error message to fix it. The same issue is likely to occur if we provide an RPM package for something like CentOS.

I guess one opt

[2020-04-03 15:36] speth commented on #831
The Ubuntu package, and any other package for a packaging system that allows dependencies to be expressed, should specify an appropriate minimum version of ruamel.yaml, whatever that is (I don't think we've worked it out beyond what Ingmar's determined that that it lies somewhere between 0.10.23 and 0.16.10). I think this is somewhat independent of what checks the SCons build system does.

We may

[2020-04-03 15:40] ischoegl commented on #831
fwiw ... `.travis.yml` specifies the version as 0.15.94 (although I'm not sure that this is the actual minimum version)

[2020-04-03 17:11] bryanwweber commented on #831
At least the Windows installer doesn't allow this to be expressed. We have data for this now! About 30% of the people who responded to the survey used the Windows installer. Those people are also likely to have used `pip` to install `ruamel.yaml`, so this dependency isn't that likely to be a problem, but still...

![install_data](https://user-images.githubusercontent.com/4396228/78386354-6d30e600-

[2020-04-03 20:58] ischoegl commented on #830
@speth and @bryanwweber ... I implemented a draft version in #840. Still need to ~add `settings` and~ change some plumbing, but the bones are there. Feel free to comment.

One question I have is whether `h5py` should be introduced as a dependency.

[2020-04-04 04:50] decaluwe opened #841 "IdealGasPhase getStandardChemPotentials"
**System information**

- Cantera version: 2.4
- OS: all (C++ source code)

**Expected behavior**
The standard state definition for an ideal gas, typically, is pressure-independent.  All pressure dependence in thermodynamic definitions is generally handled in the activity term, where the activity of a species k is equal to `pressure*molefraction[k]/standardPressure`.

More directly, this should al

[2020-04-04 13:37] decaluwe commented on #841
A few additional thoughts:

- There is a degree of guess as to exactly why the reverse rate is pressure-dependent for the electrochemical interface reactions, but I have not fully traced it through, yet.
- Regardless, I think the current approach in `IdealGasPhase` is flawed.  I think overall the process ought to be more generalized, such that the chemical potential uses the phase's definition of

[2020-04-04 13:58] bryanwweber commented on #841
I don't have enough knowledge to say if what you've got here is thermodynamically correct. We should get @cfgoldsmith and @rwest to weigh in, and maybe the SAB as well if you want.

That said, it would be interesting to see if you made these changes whether there would be any changes in the `IdealGasPhase` calculations. We expect not, but you never know... So I'd be interested in seeing an impleme

[2020-04-04 14:36] decaluwe commented on #841
There wouldn’t be any changes AFAIK— the bulk properties are all correct, it’s just how those are split between the “standard” and “non-standard” portions that causes problems for a heterogeneous reaction. Curious to see if it is a problem Generally, or if there is something specific about electrochemistry.   For the Kc calculations, the changes to delta G^0 and logStandardConc would offset each o

[2020-04-05 16:24] speth commented on #841
I think it might be worth discussing the more general issue here, as we seem to keep bumping into this confusion about the differences between the standard / reference and unqualified thermodynamic properties. See, for instance https://github.com/Cantera/cantera/issues/522, where @decaluwe posed the question:

I would go a step further, and question whether either "standard state" or "reference st

[2020-04-05 17:29] #786 closed, assigned to nobody

[2020-04-06 13:18] decaluwe commented on #841
1. @speth -- While I agree that this is a conversation/decision we keep putting off, and one that needs to occur, it is only partially relevant to the issue raised here (if I am understanding your suggestion correctly.  I may not be - see below).

    Whether or not they are publicly accessible (I can think of 1 or 2 use cases where they are not necessary, but maybe a user would like them -- see b

[2020-04-06 17:58] ghost opened #842 "Automated code review for cantera"
Hi!
I am a member of the team developing **monocodus** — a service that performs automatic code review of GitHub pull requests to help organizations ensure a high quality of code.
We’ve developed some useful features to the moment, and now we’re looking for early users and feedback to find out what we should improve and which features the community needs the most.

We ran **monocodus** on a pre-cr

[2020-04-07 15:54] decaluwe commented on #841
So... I think this discussion on standard states is valuable, but is unrelated to the error in the charge transfer rate coefficients.

I went and re-derived the conversion, yesterday.  The error observed by @wbessler turns out to be either a typo or simply an error in the derivation of `InterfaceKinetics::convertExchangeCurrentDensityFormulation`.  There is a missing `m_beta[i]` exponent in the st

[2020-04-07 22:39] speth commented on #841
I think the enhancements repo is the place to start this discussion, and the fix for the issue you noted with `convertExchangeCurrentDensityFormulation` should close this issue. I can take care of creating the new issue in the enhancements repo. We can copy any relevant comments here or on other issues to that thread.

[2020-04-09 17:20] sin-ha commented on #829
@ischoegl can you kindly review the above pr.

[2020-04-12 22:21] 12Chao opened #844 "'Segmentation fault' when using ct.Kinetics load yaml file"
**System information**

- Cantera version: 2.5.0a2
- OS: Ubuntu 18.0
- Python version: 3.8.0

**Expected behavior**
Using command `ct.Kinetics (infile='cantera.yaml')`  to load yaml file aimed to calculate rate coefficients later. The expected behavior is file loaded without error or maybe an error thrown because  lack of a thermo model.

**Actual behavior**
`Segmentation fault(core dumped)` error

[2020-04-13 00:10] ischoegl commented on #844
I can reproduce this on`2.5.0a4`, but get no issues if importing the mechanism using
[code]
The thermo data show discontinuities, but that's about it. I do agree that a segfaulting instantiation of `ct.Kinetics` is problematic. At the same time, I have questions about using `ct.Kinetics` by itself as it does require at least species names which are part of thermo specifications (is it more than ju

[2020-04-13 01:11] bryanwweber commented on #844
Yes, we would expect that thermo data is required for a `Kinetics` instance. The problematic behavior is more the segfault than not instantiating, as @12Chao noted in the OP:

[2020-04-13 01:19] 12Chao commented on #844
To follow up, it works fine when I use `ct.Solution('cantera.yaml')` to load it and call the kinetics instances(`reverse_rate_constants`, `forward_rate_constants`,`equilibrium_constants` etc.).

[2020-04-13 01:32] ischoegl commented on #844
@bryanwweber ... that’s what I meant - a thermo model is implicit. My question really is that I can see someone trying to instantiate a `ThermoPhase`, but `Kinetics` or `Transport` by themselves do not make sense as they are instantiated in parallel to `ThermoPhase` and require a thermo phase instance to exist. Within the context of diamond inheritance for `Solution` it all comes together (it inhe

[2020-04-13 01:53] bryanwweber commented on #844
@ischoegl I think we are agreeing, that there should be an error if `Kinetics` is instantiated without a corresponding `ThermoPhase` instance, rather than a segfault. Fixing the segfault should be the priority here, IMO.

I think whether it would be possible for `Kinetics` to stand on its own, without `Solution`, is a separate question. Another (hypothetical) option is to pass an instance of `Ther

[2020-04-13 01:57] ischoegl commented on #844
@bryanwweber .... 👍 that’s exactly what my question is here. The way things are implemented, throwing an error would supposedly preempt the segfault. My concern is deprecation as the behavior in question was likely legitimate in 2.4.

[2020-04-13 14:56] bryanwweber commented on #844
@ischoegl I just checked 2.4.0 installed via conda and that also segfaults, so it was definitely not legitimate at that time. If you want to discuss changing the behavior of `Kinetics` so that it can be instantiated in a way other than by `Solution`, I think that should happen over at Cantera/enhancements.

[2020-04-13 15:23] ischoegl commented on #844
@bryanwweber Yup, I just confirmed the same, so I'm somewhat relieved that I didn't cause a regression. Beyond, I do not see a requirement for a viable `Kinetics` object, so I'd suggest to just raise an error to prevent the segfault and update the documentation to clarify that it is not meant to be used by itself. The only potential use case I see would be for mix-and-match submechanisms, where th

[2020-04-13 15:28] ischoegl commented on #844
Finally, as I suspected, the following segfaults also (on 2.4):
[code]
Same rationale applies ...

[2020-04-13 16:13] ischoegl commented on #844
Fix was simple, see #845

~On further thought, moving a list of species and associated methods to the C++ Solution object would be a simple (and logically consistent) way to enable stand-alone objects. This will require more work, and may make sense in addressing #821. *I'm not sure it's worth the effort though as I simply cannot see enough use cases*~

[2020-04-13 17:03] ischoegl opened #846 "Travis CI broken for OSX"
**System information**

Travis CI for OSX

**Expected behavior**

Successful builds.

**Actual behavior**

Travis job errors before actual compilation is started.

**To Reproduce**

Submit pull request - or check any of the recently compiled PR's - many have passing builds for Windows/Linux, but fail on OSX.

**Thoughts**

This issue is likely already known. Presumably, a common cause is a change

[2020-04-14 15:17] speth opened #847 ""Element potential" equilibrium solver finds incorrect solution for Redlich-Kwong phase"
**System information**

- Cantera version: current master (29437efc4)
- OS: any
- Python version: 3.8 / any

**To Reproduce**

[code]

**Expected behavior**

* Equilibrium mole fractions using the Redlich-Kwong model should be the same for all equilibrium solvers
* Net reaction rate for all reversible reactions should be zero (to within rounding error)
* Equilibrium using the ideal gas and Redlich

[2020-04-14 15:34] decaluwe commented on #847
Thanks for raising this, @speth - I think your commentary over on the PengRobinson PR #641 is correct - this has to do with the function `RedlichKwongMFTP::setToEquilState` making no use of the interaction parameters (`a_coeff` and `b_coeff`), no?  It appears to just use the reference state data.

[2020-04-23 13:42] bassenj opened #849 "Binary diffusion coefficients change with composition"
I wanted to use Cantera's implementation of multicomponent diffusion as reference to benchmark my own code but found that Cantera has a problem with binary diffusion coefficients which change depending on the number of species in the phase and its composition.

The binary diffusion coefficients in the gas phase are defined as functions of temperature, pressure and species Lennard-Jones parameters.

[2020-04-23 14:41] bryanwweber commented on #849
Hi! Thanks for posting this. This is indeed quite confusing behavior. Unfortunately, I don't have an answer, but we'll do our best to take a look.

If possible, could you use a debugger to try and step through the functions and see what's being called? I've had success using `lldb` on macOS, with something like
[code]
and then adding breakpoints within my Python script. I believe you'll have to bu

[2020-04-23 16:07] speth commented on #849
Calling
[code]
Does not hold the pressure constant, but rather the intrinsic state variables for the phase (temperature and density for Cantera's ideal gas model). If you want to set the composition while holding temperature and pressure constant, you should write:
[code]
Changing this eliminates the ~35% difference seen in the second case.

The differences of <1% seen when changing the set of spe

[2020-04-23 17:21] bassenj commented on #849
Thank you for the quick reply. I wasn't aware of this behavior. I can confirm that this resolves the issue.

[2020-04-23 17:21] #849 closed, assigned to nobody

[2020-05-02 23:50] #846 closed, assigned to nobody

[2020-05-22 02:20] tsikes commented on #800
I have run into the same issue today and modified ck2yaml to accommodate such an error by checking if None in [r1.third_body, r2.third_body] inside of check_duplicate_reactions. Previously such a reaction pair was allowed in Cantera, but I believe that this should be considered a duplicate reaction. I can submit a pull request if it's decided that this is the correct solution.

[2020-05-22 02:55] rwest commented on #800
Hmmm. I'd forgotten about this. Thanks for the suggestion.
I guess your fix solves this problem with minimal changes, but if the problem is that the `third_body` for `H+CH2+M=CH3+M` should be `M` but is currently `None` (causing a NoneType error), then I think I'd prefer a fix that makes it `M` rather than one that allows it to be `None`.

[2020-05-27 18:28] 12Chao opened #853 "Error when parsing ck2cti or ck2yaml with large element number(more than 3 digits)"
**System information**

- Cantera version: 2.5.0
- OS: Ubuntu 18.0.4
- Python/MATLAB version: 3.8.0

**Expected behavior**

Regarding to the [issue](https://groups.google.com/forum/?fromgroups=#!topic/cantera-users/JK5HM5wTgys) on Cantera google user group.  The expected behavior is a successful conversion.
**Actual behavior**

It was not clear where is the error position when the user used ck2cti

[2020-05-27 20:06] speth commented on #853
I don't think the values here are accidental / erroneous, but they don't seem to follow input file format rules. Those rules pretty clearly describe the format for the elemental composition in columns 25–44 as consisting of 4 entries of 5 characters where the first two characters are for the element name and the remaining three characters are for the number of atoms of that element. This file does

[2020-05-27 22:15] 12Chao commented on #853
Thanks for the response @speth , I think showing entire entry is helpful and I can work on it. I forgot to mention that the conversion was completed with CanteraError when I was using ck2yaml as converter. The message is shown as
[code]
In this case, if I want to make changes like showing the entire entry, should I make it in the .cpp file or should I add another function into ck2yaml file to prev

[2020-05-28 04:49] 12Chao commented on #853
I would try to raise error with the entire thermo entry from ck2yaml. To my understanding, the `Phase.cpp` file only validates the converted yaml file, and it cannot show the entire thermo entry same with the original format in the `thermo.txt` file because they are already converted. Please correct me if I am wrong.

[2020-05-28 12:29] bryanwweber commented on #758
This is related to #775, which implements checking of multiple versions of SUNDIALS.

[2020-05-28 12:30] bryanwweber commented on #800
Hi @tsikes I'm not sure I understand your method, can you push the fix to a PR so we can take a look at it? Thanks!

[2020-05-28 13:28] speth commented on #853
Yes, that sounds correct. I think this could be detected at the time the composition is parsed, perhaps using the fact that an element name shouldn't start with a number as a criterion for identifying this kind of error.

[2020-05-28 13:45] speth commented on #800
For this particular case, would it make sense to rename the variable `fallof3b` to `third_body_name`, and set `Reaction.third_body` for both kinds of reactions? This would avoid the weirdness of having a name particular to falloff reactions associated with simple third body reactions.

The issue of what should and shouldn't be a duplicate reaction is something that is better discussed as part of a

[2020-05-28 15:51] ischoegl commented on #830
I guess I never commented here that the suggested solution is now complete and ready for review - see #840.

[2020-05-28 23:59] tsikes commented on #800
I modified my solution to act in the default permissive manner of Cantera. I don't think that my solution is very elegant and @speth has a better answer to this issue. Regardless I created a pull request so that you can see what I've done. #854

It makes sense that changing the current behavior could have some adverse effects on backwards compatibility.

Edit: This issue was bugging me so I fixed

[2020-05-29 00:53] #844 closed, assigned to nobody

[2020-06-01 20:18] #842 closed, assigned to nobody

[2020-06-02 12:45] #800 closed, assigned to nobody

[2020-06-03 16:46] kyleniemeyer commented on #821
I'm going to try tackling this

[2020-06-05 22:04] #830 closed, assigned to nobody

[2020-06-05 22:04] #832 closed, assigned to nobody

[2020-06-05 22:04] #833 closed, assigned to nobody

[2020-06-05 22:26] #804 closed, assigned to nobody

[2020-06-06 23:13] ilyapopov opened #861 "Eigen submodule references a deprecated repository. Consider switching to the official one"
Currently, Eigen submodule at `ext/eigen` references the repository at [https://github.com/eigenteam/eigen-git-mirror](https://github.com/eigenteam/eigen-git-mirror) which is declared deprecated by Eigen mantainers. They have switched the official repository to git and moved it to [https://gitlab.com/libeigen/eigen](https://gitlab.com/libeigen/eigen), after which they deprecated the old git mirror

[2020-06-07 00:25] bryanwweber commented on #861
Thank you! We've started this process, please see PR #803.

[2020-06-07 01:33] bryanwweber commented on #861
Will close pending resolution of #803.

[2020-06-11 02:27] speth commented on #861
#803 has been merged, so this is now resolved.

[2020-06-11 02:27] #861 closed, assigned to nobody

[2020-06-11 02:45] speth commented on #339
I think this was resolved as part of #768.

[2020-06-11 02:45] #339 closed, assigned to nobody

[2020-06-16 23:48] tsikes opened #865 "Duplicate reactions not being caught in ck2yaml"
Several variations of duplicate reactions are not being caught when parsing chemkin mechanisms.

**System information**

- Cantera version: 2.5.0a4
- OS: Windows 10
- Python/MATLAB version: 3.7

**Expected behavior**

When given a duplicate reaction, an error should be thrown to inform the user.

**Actual behavior**

- When passed A + B = C + D and A + B = C + D:

The old problem of r1.third_body

[2020-06-17 01:53] bryanwweber commented on #865
Thanks @tsikes! A PR would be good, thank you!

[2020-06-17 04:26] speth commented on #865
The main issue here is that the better duplicate reaction check in C++ (`Kinetics::checkDuplicates`) isn't actually being called for YAML input files. I've pushed a simple fix for this to my fork at https://github.com/speth/cantera/tree/fix-yaml-duplicate-reaction-check. I think that handles all of the cases here which are expected to be seen as errors.

Ideally, `Kinetics::checkDuplicates` would

[2020-06-18 01:29] tsikes commented on #865
@speth running yaml inputs through the C++ checkDuplicates seems like a must do; however, I also agree with what you said about transparency for tracking down problems with CK input files. Additionally, while the C++ checkDuplicates would fix problems 2-4, it would not fix problem 1 because the conversion itself breaks. I think doing both would work though.

Edit: Nevermind, I assumed you were che

[2020-06-18 14:11] ischoegl commented on #751
Closing (together with #745).

[2020-06-18 14:11] #751 closed, assigned to nobody

[2020-06-19 17:14] ischoegl opened #872 "Broken diffusion_flame_extinction.py example"
**System information**

- Cantera version: current development branch
- OS: Ubuntu 18.04
- Python/MATLAB version: 3.6.9

**Expected behavior**

`diffusion_flame_extinction.py` terminates and produces plot.

**Actual behavior**

`diffusion_flame_extinction.py` appears to be stuck in indefinite loop.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `python `
2. After the temperature drops

[2020-06-19 19:48] bryanwweber commented on #872
Thanks for reporting this! Can you locate when this problem started happening? Is it a problem for the 2.4.0 release?

[2020-06-19 21:46] ischoegl opened #873 "Broken catalytic_combustion.py example"
**System information**

- Cantera version: development version
- OS: Ubuntu 18.04
- Python/MATLAB version: 3.6.9

**Expected behavior**

The Cantera example `catalytic_combustion.py` works without error

**Actual behavior**

The Cantera example `catalytic_combustion.py` failsr

**To Reproduce**

Steps to reproduce the behavior:

1. Run: `python catalytic_combustion.py`
2. See error
[code]
**Other:

[2020-06-19 22:02] ischoegl commented on #872
@bryanwweber ... example works on 2.4.

[2020-06-21 16:54] ischoegl opened #875 "Broken piston.py example"
**System information**

- Cantera version: development version
- OS: ubuntu 18.04
- Python/MATLAB version: 3.6.9

**Expected behavior**

Example runs without errors

**Actual behavior**

Example errors with
[code]

**To Reproduce**

Steps to reproduce the behavior: see above

**Additional context**

The extra column `v` masks a pre-existing thermo state, which previously did not raise an error. Th

[2020-06-21 17:47] ischoegl opened #877 "Broken surf_pfr.py example"
**System information**

- Cantera version: development version
- OS: Ubuntu 18.04
- Python/MATLAB version: 3.6.9

**Expected behavior**

Example runs without error.

**Actual behavior**

Example errors with
[code]

**To Reproduce**

See above.

**Additional context**

~Error potentially introduced in the context of #720~

A switch back from YAML to CTI input removes the issue, i.e. the error appea

[2020-06-21 18:36] ischoegl opened #878 "AppVeyor CI apparently broken"
**System information**

N/A - failure occurs on AppVeyor build

**Expected behavior**

Changes only affecting Python *samples* should not break unit tests.

**Actual behavior**

AppVeyor build fails - see #876

One of the many failures point towards a deprecation in `"interfaces\cython\cantera\base.pyx", line 69`, i.e.
[code]

**Additional context**

Breakage appears to be recent (upstream changes

[2020-06-21 21:45] bryanwweber commented on #878
This appears to be related to https://github.com/numpy/numpy/pull/15534 (just cross-linking for reference)

[2020-06-24 17:55] bryanwweber commented on #878
And also, it only affects Appveyor here because Travis is using Python 3.5, for which NumPy 1.19 is not available.

[2020-06-24 17:55] #878 closed, assigned to nobody

[2020-06-26 14:09] ischoegl commented on #812
@bryanwweber ... I proposed a fix in #880, and found also other instances where the error messages could be misleading (the behavior is caused by cython having incomplete C++ `const` support, with an error-throwing operator being shadowed by a permissive one). ~However, I'm not 100% sure of what 'missing' keywords should be allowed. `nasa.yaml` comes to mind ...~ **Edit:** Nevermind, `argon.yaml`

[2020-06-27 17:30] ischoegl opened #882 "New CI test "CI / Build docs (pull_request)" fails"
**System information**

- Cantera version: development branch
- OS: N/A - GitHub CI
- Python/MATLAB version: N/A

**Expected behavior**

CI tests run successfully if `scons test` and `scons build` pass.

**Actual behavior**

The **CI / Build docs (pull_request)** test errors:
[code]

**Additional context**

See failed test at: #881

[2020-06-29 00:22] bryanwweber opened #885 "Badges in README point to Travis and Appveyor still"
The status badges on the README still point to the Travis CI and Appveyor statuses, even though #775 has been merged.

[2020-06-29 09:48] bryanwweber commented on #882
~Well, the build on the main branch failed with the same error so it seems like this isn't quite resolved yet.~

Just kidding, old email notification of the failure!

[2020-06-29 11:08] #882 closed, assigned to nobody

[2020-06-29 11:17] speth commented on #882
Okay, good. I was going crazy trying to find a failure indication anywhere!